{% extends 'kemet/home/base.html' %}
{% load hosts %}
{% load static  %}

{% block content %}
   
    <!--====== PAGE BANNER PART START ======-->
    
    <section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8" style="background-image: url({% static 'images/page-banner-4.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>{{category_name.title}}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% host_url 'home:home' host 'kemet' %}">Home</a></li>
                                {% if blogs %}
                                <li class="breadcrumb-item active" aria-current="page"><a href="{% host_url 'home:category' slug host 'kemet' %}">{{category_name}}</a></li>
                                {% else %}
                                <li class="breadcrumb-item active" aria-current="page"><a href="{% host_url 'home:category' slug host 'kemet' %}">Category</a></li>

                                {% endif %}
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== PAGE BANNER PART ENDS ======-->
   
    <!--====== BLOG PART START ======-->
    
    <section id="blog-page" class="pt-90 pb-120 gray-bg">
        <div class="container">
           <div class="row">
               {% if blogs %}
               <div class="col-lg-8">
             
                {% for i in blogs %}
                   <div class="singel-blog mt-30">
                       <div class="blog-thum">
                           <img src="{{i.image.url}}" style="max-height:30rem;" alt="Blog">
                       </div>
                       <div class="blog-cont">
                           <a href="{% host_url 'home:blog' i.slug host 'kemet' %}"><h3>{{i.name|truncatechars_html:70}}</h3></a>
                           <ul>
                               <li><a ><i class="fa fa-calendar"></i> {{i.created_at}}</a></li>
                               <li><a href="{% host_url 'home:teacher' i.user.slug host 'kemet' %}"><i class="fa fa-user"></i>{{i.user.get_full_name.title}}</a></li>
                               <li><a href="{% host_url 'home:category' i.category.slug host 'kemet' %}"><i class="fa fa-tags"></i>{{i.category.name.upper}}</a></li>
                               <li><a><i class="fa fa-plus-square" aria-hidden="true"></i>{{i.blog_views_count}}</a></li>

                            </ul>
                           <p>{{i.details|safe|truncatechars_html:100}}</p>
                       </div>
                   </div> <!-- singel blog -->
                   {% endfor %}
                   <nav class="courses-pagination mt-50">
                    {% if blogs.has_other_pages  %}
                    <ul class="pagination justify-content-center">
                       {% if blogs.has_previous  %}
                        <li class="page-item">
                            <a href="?page={{ blogs.previous_page_number }}" aria-label="Previous">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% for i in blogs.paginator.page_range %}
                        {% if blogs.number == i %}
                        <li class="page-item"><a class="active" >{{i}}</a></li>
                      {% else %}
                        <li class="page-item"><a href="?page={{ i }}">{{i}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                        {% if blogs.has_next %}
                        <li class="page-item">
                            <a href="?page={{ blogs.next_page_number }}" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>  <!-- courses pagination -->
               </div>
               {% else %}
               <div class="col-lg-8">
                   <h1 style="text-align:center;">sorry ,we didn't find what you are looking for</h1>
                   </div>
               {% endif %}
               <div class="col-lg-4">
                   <div class="saidbar">
                       <div class="row">
                           <div class="col-lg-12 col-md-6">
                               <div class="saidbar-search mt-30">
                                   <form action="{% host_url 'home:blog_search' host 'kemet' %}" method="GET">
                                       <input type="text" name="qs" placeholder="Search">
                                       <button type="submit"><i class="fa fa-search"></i></button>
                                   </form>
                               </div> <!-- saidbar search -->
                               <div class="categories mt-30">
                                   <h4>Categories</h4>
                                   <ul>
                                       {% for i in categories %}
                                       <li><a href="{% host_url 'home:category' i.slug host 'kemet' %}">{{i.name.title}}</a></li>
                                    {% endfor %}
                                   </ul>
                               </div>
                           </div> <!-- categories -->
                           <div class="col-lg-12 col-md-6">
                               <div class="saidbar-post mt-30">
                                   <h4>Popular Posts</h4>
                                   <ul>
                                    {% for i in popular %}
                                       <li>
                                            <a href="{% host_url 'home:blog' i.slug host 'kemet' %}">
                                                <div class="singel-post">
                                                   <div class="thum">
                                                       <img src="{{i.image.url}}" style="max-height:5rem; max-width:5rem;" alt="Blog">
                                                   </div>
                                                   <div class="cont">
                                                       <h6>{{i.name|truncatechars_html:20}}</h6>
                                                       <span>{{i.created_at|date:"d M Y"}}</span>
                                                   </div>
                                               </div> <!-- singel post -->
                                            </a>
                                       </li>
                                     {% endfor %}
                                   </ul>
                               </div> <!-- saidbar post -->
                           </div>
                       </div> <!-- row -->
                   </div> <!-- saidbar -->
               </div>
           </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== BLOG PART ENDS ======-->
{% endblock %}