{% extends 'kemet/home/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<title>{% block title %}| {% trans 'FAQs' %}{% endblock %}</title>

<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url({% static 'images/faq-banner.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>FAQs</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">FAQs</a></li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->


<div class="faqs mb-50 mt-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-section">
                    <label for="faq-search" class="faq-search">Search for the question</label><br>
                    <div class="wrap">
                        <div class="search">
                            <input id="faq-search" type="text" class="searchTerm" placeholder="What are you looking for?">
                            <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
                    <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="tab1" aria-selected="true">
                        <i class="fa fa-tag fa-2x faq-icons" aria-hidden="true"></i> Public Information
                    </a>
                    <!--<a href="#tab2" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab2" aria-selected="false">
                        <i class="mdi mdi-account"></i> Students Questions
                    </a>-->
                    <a href="#tab3" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab3" aria-selected="false">
                        <i class="fa fa-leanpub fa-2x faq-icons" aria-hidden="true"></i> Instructors Questions
                    </a>
                    <a href="#tab4" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab4" aria-selected="false">
                        <i class="fa fa-heart fa-2x faq-icons" aria-hidden="true"></i>
                        Questions about courses
                    </a>
                    <a href="#tab5" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab5" aria-selected="false">
                        <i class="fa fa-usd fa-2x faq-icons" aria-hidden="true"></i>
                        Questions about Transactions
                    </a>
                    <!--<a href="#tab6" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab6" aria-selected="false">
                        <i class="mdi mdi-worker"></i> Questions about Jobs
                    </a>-->
                </div>
            </div>
            <div class="col-lg-8">
                <!-- <div class="col-sm-12"> -->
                <!-- </div> -->
                <div class="tab-content" id="faq-tab-content">
                    <!--  Public Information   -->
                    <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                        <div class="accordion" id="accordion-tab-1">
                            <div class="card">
                                <div class="card-header" id="accordion-tab-1-heading-1">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1" aria-expanded="false" aria-controls="accordion-tab-1-content-1">
                                            How can I create an account on the Agartha website?
                                        </button>
                                    </h5>
                                </div>
                                <div class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                    <div class="card-body">
                                        <p>
                                            Go to the Agartha.academy:
                                            1- Choose Join us now.
                                            2- Fill in your information.
                                            4- Enter your email verification, click on the link that you will receive to activate your account.
                                            5- With easy steps, you will have created a new account, to start learning with ease.
                                        </p>
                                        <p>
                                            <strong>You can also: </strong> click on the person icon 👥 on the left side of the main bar.
                                            Then complete steps 2 - 3 - 4.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-1-heading-2">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-2" aria-expanded="false" aria-controls="accordion-tab-1-content-2">How can I book a consultation?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-1-content-2" aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                                    <div class="card-body">
                                        <p>
                                            From the Agartha website, click on the <a href="https://agartha.academy/consultant/">Consultation</a> link
                                            Choose the name of the consultant from the consulting page, click on the “<strong>Book now</strong>” button, fill in your details and a description of the topic of your consultation, fill in the payment information and then click on Confirm Booking, the coach or consultant will receive your request.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-1-heading-3">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-3" aria-expanded="false" aria-controls="accordion-tab-1-content-3">Can I get lifetime Access For the courses?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-1-content-3" aria-labelledby="accordion-tab-1-heading-3" data-parent="#accordion-tab-1">
                                    <div class="card-body">
                                        <p>
                                            Once you purchase a course, you will have lifetime access, with the following conditions:
                                        </p>
                                        <p> 1- Your account is in good standing.</p>
                                        <p> 2- You have an active subscription to the Agartha.academy site.</p>
                                        <p> 3- That Agartha continue to obtain a license for that course.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Students Questions -->
                    <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                        <div class="accordion" id="accordion-tab-2">
                            <div class="card">
                                <div class="card-header" id="accordion-tab-2-heading-1">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-1" aria-expanded="false" aria-controls="accordion-tab-2-content-1">Does anybody else feel jealous and aroused and worried?</button>
                                    </h5>
                                </div>
                                <div class="collapse show" id="accordion-tab-2-content-1" aria-labelledby="accordion-tab-2-heading-1" data-parent="#accordion-tab-2">
                                    <div class="card-body">
                                        <p>Kif, I have mated with a woman. Inform the men. This is the worst part. The calm before the battle. Bender, being God isn't easy. If you do too much, people get dependent on you, and if you do nothing, they lose hope. You have to use a light touch. Like a safecracker, or a pickpocket.</p>
                                        <p><strong>Example: </strong>There's no part of that sentence I didn't like! You, a bobsleder!? That I'd like to see!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-2-heading-2">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-2" aria-expanded="false" aria-controls="accordion-tab-2-content-2">This opera's as lousy as it is brilliant?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-2-content-2" aria-labelledby="accordion-tab-2-heading-2" data-parent="#accordion-tab-2">
                                    <div class="card-body">
                                        <p>Your lyrics lack subtlety. You can't just have your characters announce how they feel. That makes me feel angry! It's okay, Bender. I like cooking too. Interesting. No, wait, the other thing: tedious.</p>
                                        <p><strong>Example: </strong>Of all the friends I've had… you're the first. But I know you in the future. I cleaned your poop. Then we'll go with that data file!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-2-heading-3">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-3" aria-expanded="false" aria-controls="accordion-tab-2-content-3">Who are you, my warranty?!</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-2-content-3" aria-labelledby="accordion-tab-2-heading-3" data-parent="#accordion-tab-2">
                                    <div class="card-body">
                                        <p>Oh, I think we should just stay friends. I'll tell them you went down prying the wedding ring off his cold, dead finger. Aww, it's true. I've been hiding it for so long. Say it in Russian! Then throw her in the laundry room, which will hereafter be referred to as "the brig".</p>
                                        <p><strong>Example: </strong> We're rescuing ya. Robot 1-X, save my friends! And Zoidberg! <em>Then we'll go with that data file!</em> Okay, I like a challenge.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-2-heading-5">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-2-content-4" aria-expanded="false" aria-controls="accordion-tab-2-content-4">I haven't felt much of anything since my guinea pig died?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-2-content-4" aria-labelledby="accordion-tab-2-heading-5" data-parent="#accordion-tab-2">
                                    <div class="card-body">
                                        <p>And I'm his friend Jesus. Oh right. I forgot about the battle. OK, if everyone's finished being stupid. We'll need to have a look inside you with this camera. I'm just glad my fat, ugly mama isn't alive to see this day.</p>
                                        <p><strong>Example: </strong> Isn't it true that you have been paid for your testimony? Quite possible.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Instructors Questions-->
                    <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                        <div class="accordion" id="accordion-tab-3">
                            <div class="card">
                                <div class="card-header" id="accordion-tab-3-heading-1">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-1" aria-expanded="false" aria-controls="accordion-tab-3-content-1">How do I join the Agarta Premium Instructors?</button>
                                    </h5>
                                </div>
                                <div class="collapse show" id="accordion-tab-3-content-1" aria-labelledby="accordion-tab-3-heading-1" data-parent="#accordion-tab-3">
                                    <div class="card-body">
                                        <p>Any instructor can join Agartha Instructors if you meet the conditions to join Agartha instructors Check the requirements <a href="">here.</a></p>

                                        <p>
                                            Go to <a href="https://agartha.academy/dashboard/">your profile</a> (provided you are logged into your Agartha.Academy account).
                                            Click on the link to join the Agarta coaches. Fill in the required information, attach a copy of your CV, and press "Submit".
                                            There is no fee to join Agartha instructors, and the review process for your profile is usually completed within two business days.
                                        </p>
                                        <p>You will receive an e-mail from the Academy's administration, whether rejection or acceptance, so be sure to send your data correctly so that the work team can communicate with you.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-3-heading-2">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-3-content-2" aria-expanded="false" aria-controls="accordion-tab-3-content-2">How are financial transactions between the academy and the instructor?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-3-content-2" aria-labelledby="accordion-tab-3-heading-2" data-parent="#accordion-tab-3">
                                    <div class="card-body">
                                        <p>
                                            Agartha Academy seeks to attract distinguished trainers and establish a sustainable partnership with them.
                                        </p>
                                        <p> See <a href="">Agartha instructor Revenue Plan</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--Questions about courses-->
                    <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="tab4">
                        <div class="accordion" id="accordion-tab-4">
                            <div class="card">
                                <div class="card-header" id="accordion-tab-4-heading-1">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-1" aria-expanded="false" aria-controls="accordion-tab-4-content-1">How can I ask my Instructor while studying the course?</button>
                                    </h5>
                                </div>
                                <div class="collapse show" id="accordion-tab-4-content-1" aria-labelledby="accordion-tab-4-heading-1" data-parent="#accordion-tab-4">
                                    <div class="card-body">
                                        <p>
                                            If you have questions about the paid course during your studies, you can read the questions and answers below the video, perhaps you will find an answer to your question, if you do not find a similar question , you can leave your question in a comment below the video.
                                            Or you can email the Instructor on his personal page.
                                        </p>
                                        <p>
                                            <strong>Please note that: </strong>
                                        </p>
                                        <p>
                                            - Question and answer and messaging features are not available on the free courses.
                                        </p>
                                        <p>
                                            - Instructores have the option to turn off the messaging feature.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-4-heading-2">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-2" aria-expanded="false" aria-controls="accordion-tab-4-content-2">How to send a message to your course instructor</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-4-content-2" aria-labelledby="accordion-tab-4-heading-2" data-parent="#accordion-tab-4">
                                    <div class="card-body">
                                        <p>
                                            Using the comments below the lecture video is usually the best way to get answers to the questions you have about the course.
                                            If direct messaging is enabled by the paid course instructor, you can send a message to them via the email on their profile.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-4-heading-3">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-3" aria-expanded="false" aria-controls="accordion-tab-4-content-3">
                                            How long is the period of benefit and access to the course content?
                                        </button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-4-content-3" aria-labelledby="accordion-tab-4-heading-3" data-parent="#accordion-tab-4">
                                    <div class="card-body">
                                        <p>
                                            The paid subscription period on the site is added to the period of benefit for the course to achieve the longest possible grace period for the course, so that the course takes a grace period of one year + the valid period for his subscription to the site.
                                        </p>
                                        <p>Every time you renew your subscription to the site, the period of benefit for the course you subscribed to is automatically renewed.</p>
                                        <p><strong>Note:</strong> If your subscription to the site expires, and you do not renew, you will lose the automatic renewal of the course period.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-4-heading-4">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-4" aria-expanded="false" aria-controls="accordion-tab-4-content-4">If I subscribe to a paid subscription to the site, do I have access to all training courses?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-4-content-4" aria-labelledby="accordion-tab-4-heading-4" data-parent="#accordion-tab-4">
                                    <div class="card-body">
                                        <p>Absolutely not, each course has a price, which can be purchased by clicking on "Register Now" on the course.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-4-heading-5">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-5" aria-expanded="false" aria-controls="accordion-tab-4-content-5">How can I get the free course?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-4-content-5" aria-labelledby="accordion-tab-4-heading-5" data-parent="#accordion-tab-4">
                                    <div class="card-body">
                                        <p>You can get all free courses by subscribing to the site.</p>
                                        <p><a href="https://agartha.academy/blogs/pricing/">See the subscription plans.</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-4-heading-6">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-6" aria-expanded="false" aria-controls="accordion-tab-4-content-6">What happens if the instructor removes the course from the Agartha?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-4-content-6" aria-labelledby="accordion-tab-4-heading-6" data-parent="#accordion-tab-4">
                                    <div class="card-body">
                                        <p>
                                            This rarely happens, in total we host many courses on our website. Our course broadcast agreement means that we do not own the copyright to the course content; However, the respective instructors own these rights.
                                            Instructors may remove their courses from our Courses section, they may have to remove the course from the platform for policy or legal reasons. If this happens in your registered course, please contact us and we will be ready to help.
                                        </p>
                                        <p><strong>Please note:</strong> Instructors may sometimes decide to update course content and close the old version. For example, the Instructor may update course content and upload new content. In situations where the instructor is documenting its course, the old course content is still on the platform and is still accessible to students who are enrolled in the course.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-4-heading-7">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-7" aria-expanded="false" aria-controls="accordion-tab-4-content-7">How can I take an Agartha course ?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-4-content-7" aria-labelledby="accordion-tab-4-heading-7" data-parent="#accordion-tab-4">
                                    <div class="card-body">
                                        <p>Aghara Academy courses are fully on demand. You can start the course as many times as you want, and there are no deadlines to complete it.</p>
                                        <p>After registering for a course, you can access it by clicking on the course link that you will receive in the confirmation email.</p>
                                        <p><strong>And also,</strong>You can start the course by logging in and going to your tutorial page.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-4-heading-8">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-8" aria-expanded="false" aria-controls="accordion-tab-4-content-8">Do I have to start my Agartha course at a certain time?<br> And how long do I have to complete it? </button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-4-content-8" aria-labelledby="accordion-tab-4-heading-8" data-parent="#accordion-tab-4">
                                    <div class="card-body">
                                        <p>As mentioned above, there are no deadlines to start or complete the course. Even after completing the course, you will continue to access it for a full year, provided your account is active or unbanned.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-4-heading-9">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-9" aria-expanded="false" aria-controls="accordion-tab-4-content-9">Can I get a certificate? Is this certificate accredited?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-4-content-9" aria-labelledby="accordion-tab-4-heading-9" data-parent="#accordion-tab-4">
                                    <div class="card-body">
                                        <p>- After completing the course, you can comply with a small test for your information, and after the test is completed, you can obtain a certificate from the Academy's website with a number documented by the Academy.</p>
                                        <p>This certificate is considered to documentation your achievement in the progress of your course.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-4-heading-10">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-4-content-10" aria-expanded="false" aria-controls="accordion-tab-4-content-10">Is there any way to preview a course?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-4-content-10" aria-labelledby="accordion-tab-4-heading-10" data-parent="#accordion-tab-4">
                                    <div class="card-body">
                                        <p>All Agartha courses have an explanation of their content, details are added by the instructor, so students can see the course themes and educational content. To start a free preview, please follow the steps below:</p>
                                        <p>
                                            Click on the <strong>Course</strong> icon or course title to proceed to the course details page.
                                        </p>
                                        <p>
                                            Next, click Preview this course on the right side of the page
                                            Now you will be able to see the main information about it, to view All courses click <a href="https://agartha.academy/courses/">Courses</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Questions about Transactions-->
                    <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
                        <div class="accordion" id="accordion-tab-5">
                            <div class="card">
                                <div class="card-header" id="accordion-tab-5-heading-1">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-1" aria-expanded="false" aria-controls="accordion-tab-5-content-1">
                                            What are the available payment methods that can be paid through Agartha Academy website?
                                        </button>
                                    </h5>
                                </div>
                                <div class="collapse show" id="accordion-tab-5-content-1" aria-labelledby="accordion-tab-5-heading-1" data-parent="#accordion-tab-5">
                                    <div class="card-body">
                                        <p>
                                            The payment process has become much easier, there are three e-payment methods through the site:
                                        <p>
                                            <strong>1. Payment PayPal:</strong>
                                        </p>
                                        Choose PayPal from the payment menu, log into your PayPal account, complete your payment as usual in PayPal, an email will be sent to confirm the payment.
                                        Please note that after payment, your registration will be activated within 24 hours, as you will receive an email confirming your registration to start studying.
                                        </p>
                                        <p><strong>2. Credit Cards:  </strong></p>
                                        <p>
                                            The cards supported by the system are Visa and MasterCard. Enter your card information to complete the payment process successfully. Please note that it takes 24 hours to activate your registration, you will receive an email confirming your registration to start studying.
                                        </p>
                                        <p><strong>3. E-wallets inside Egypt: </strong>You can pay by Vodafone Cash, Orange Cash, Etisalat Cash. <a href="https://agartha.academy/checkout/courses/Agartha/">Payment method</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-5-heading-2">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-2" aria-expanded="false" aria-controls="accordion-tab-5-content-2">
                                            Can I pay by Western Union?
                                        </button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-5-content-2" aria-labelledby="accordion-tab-5-heading-2" data-parent="#accordion-tab-5">
                                    <div class="card-body">
                                        <p> You can pay by Western Union on the following data:</p>
                                        <p><strong>English name: </strong> Nabil Kamal Mohamed Mohamed</p>
                                        <p><strong> Mobile number:</strong> 00201011609810</p>
                                        <p><strong>Country: </strong>Egypt.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-5-heading-3">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-3" aria-expanded="false" aria-controls="accordion-tab-5-content-3">Do you have agents to easy payment?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-5-content-3" aria-labelledby="accordion-tab-5-heading-3" data-parent="#accordion-tab-5">
                                    <div class="card-body">
                                        <p>
                                            Yes, we have agents in (Morocco, Tunisia, Algeria, Libya, Syria, Turkey).
                                        </p>
                                        <p>
                                            <i class="mdi mdi-comment-account"></i>  Kindly contact the agent during official working hours:
                                        </p>
                                        <p> <strong><a href="https://wa.me/qr/C62ZA3FYTFQIH1"><i class="mdi mdi-whatsapp "></i> Our agent in Morocco</a> </strong> </p>
                                        <p> <strong><a href="https://wa.me/message/WB6JKLGAZXS2L1"><i class="mdi mdi-whatsapp "></i> Our agent in Algeria</a> </strong> </p>
                                        <p> <strong><a href="http://Wa.me/21623541972"><i class="mdi mdi-whatsapp "></i> Our agent in Tunisia</a> </strong> </p>
                                        <p> <strong><a href="http://Wa.me/9647739004621"><i class="mdi mdi-whatsapp "></i> Our agent in Iraq</a> </strong> </p>
                                        <p> <strong><a href="https://t.me/QueenMajda"><i class="mdi mdi-telegram"></i>Our agent in Libya</a> </strong> </p>
                                        <p> <strong><a href="https://t.me/OLA_ABDULMALEK"><i class="mdi mdi-telegram"></i>Our agent in Turkey</a> </strong> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-5-heading-5">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-4" aria-expanded="false" aria-controls="accordion-tab-5-content-4">Can I pay in installments?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-5-content-4" aria-labelledby="accordion-tab-5-heading-5" data-parent="#accordion-tab-5">
                                    <div class="card-body">
                                        <p>Unfortunately the system in Agartha does not support installments in the payment process.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-5-heading-5">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-5" aria-expanded="false" aria-controls="accordion-tab-5-content-5">What are the terms of refund?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-5-content-5" aria-labelledby="accordion-tab-5-heading-5" data-parent="#accordion-tab-5">
                                    <div class="card-body">
                                        <p>
                                            We want you to be satisfied, so courses or consultations purchased on Agartha are refundable, and Agartha is non-refundable. Note that some restrictions apply to refunds, so certain purchases must be eligible for refunds.
                                            You can request a refund to purchase courses or to book a consultation only, provided that you meet our refund policy described below:
                                        </p>
                                        <p><strong> <u>30-day refund policy for paid courses</u></strong></p>
                                        <p>
                                            While it is our 30-day refund policy, we must also protect our trainers and Instructors from fraud and provide them with a reasonable payment schedule. Payments are sent to Instructores after 30 days, so we will not process refund requests received after 30 days for any reason.
                                        </p>
                                        <p style="color: darkblue"><strong>Terms of refund paid for a training course:</strong></p>
                                        <p>
                                            1- A refund can be requested within 30 days if you do not listen to the course at all.
                                        </p>
                                        <p>
                                            2- It is not possible to request a refund if you listened to two lectures from the course content, even if they did not exceed 30 days.
                                        </p>
                                        <p>
                                            3- Money paid by Western Union cannot be refunded, due to Egyptian security restrictions.
                                        </p>
                                        <p>
                                            4- Most refunds are returned via the original payment method. Please note that some restrictions may apply and some purchases may only be eligible for refunds, Western Union cannot be refunded due to Egyptian security restrictions.
                                        </p>
                                        <p style="color:darkblue"><strong>Terms of refund paid for booking a consultation:</strong></p>
                                        <p>1- A refund can be requested, provided that coordination with your advisor and cancellation of reservations with him is made.</p>
                                        <p>2- No refund can be requested after the reservation date has passed.</p>
                                        <p>3- A refund cannot be requested without coordinating with and canceling your reservation with your advisor.</p>
                                        <p>4- Refunds cannot be requested 72 hours before the booking date.</p>
                                        <p>5- Money paid by Western Union cannot be refunded, due to money transfer restrictions in Egypt.</p>
                                        <p>6- - Most refunds are returned via the original payment method. Please note that some restrictions may apply and some purchases may only be eligible for refunds. Money paid by Western Union cannot be refunded, due to money transfer restrictions in Egypt.</p>
                                        <p style="color:brown"><strong><u>Additional reasons for rejecting the refund:</u></strong></p>
                                        <p>We reserve the right, at our discretion, to fraudulently limit refund requests. Refunds will be denied in cases where we believe there has been a refund abuse transaction including:</p>
                                        <p>
                                            - If multiple refunds are requested by a student for the same course.
                                        </p>
                                        <p>-If excessive refunds are requested by the same student.</p>
                                        <p>
                                            If our user account is banned or disabled for violating our terms.
                                        </p>
                                        <p>These funds limitations will apply to the extent permitted by applicable law.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-5-heading-6">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-5-content-6" aria-expanded="false" aria-controls="accordion-tab-5-content-6">When will i get my money back?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-5-content-6" aria-labelledby="accordion-tab-5-heading-6" data-parent="#accordion-tab-5">
                                    <div class="card-body">
                                        <p>
                                            Refund requests are submitted to the payment processor or the financial institution you paid through after System Agartha receives and processes your request. It may take anywhere from 10 to 15 business days or more for the funds to be activated in your account, depending on your financial institution or country location.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Questions about Jobs-->
                    <div class="tab-pane" id="tab6" role="tabpanel" aria-labelledby="tab6">
                        <div class="accordion" id="accordion-tab-6">
                            <div class="card">
                                <div class="card-header" id="accordion-tab-6-heading-1">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-1" aria-expanded="false" aria-controls="accordion-tab-6-content-1">Doomsday device?</button>
                                    </h5>
                                </div>
                                <div class="collapse show" id="accordion-tab-6-content-1" aria-labelledby="accordion-tab-6-heading-1" data-parent="#accordion-tab-6">
                                    <div class="card-body">
                                        <p>Ah, now the ball's in Farnsworth's court! We'll need to have a look inside you with this camera. Stop it, stop it. It's fine. I will 'destroy' you! Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually!</p>
                                        <p><strong>Example: </strong>So I really am important? How I feel when I'm drunk is correct?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-6-heading-2">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-2" aria-expanded="false" aria-controls="accordion-tab-6-content-2">And so we say goodbye to our beloved pet, Nibbler?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-6-content-2" aria-labelledby="accordion-tab-6-heading-2" data-parent="#accordion-tab-6">
                                    <div class="card-body">
                                        <p>Nibbler, who's gone to a place where I, too, hope one day to go. The toilet. But existing is basically all I do! I suppose I could part with 'one' and still be feared. I just told you! You've killed me!</p>
                                        <p><strong>Example: </strong>What's with you kids? Every other day it's food, food, food.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-6-heading-3">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-3" aria-expanded="false" aria-controls="accordion-tab-6-content-3">Tell her you just want to talk?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-6-content-3" aria-labelledby="accordion-tab-6-heading-3" data-parent="#accordion-tab-6">
                                    <div class="card-body">
                                        <p>It has nothing to do with mating. Soon enough. There, now he's trapped in a book I wrote: a crummy world of plot holes and spelling errors! Daylight and everything. Hey! I'm a porno-dealing monster, what do I care what you think?</p>
                                        <p><strong>Example: </strong>Is that a cooking show? It doesn't look so shiny to me. And why did 'I' have to take a cab?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="accordion-tab-6-heading-5">
                                    <h5>
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-6-content-4" aria-expanded="false" aria-controls="accordion-tab-6-content-4">Good man. Nixon's pro-war and pro-family?</button>
                                    </h5>
                                </div>
                                <div class="collapse" id="accordion-tab-6-content-4" aria-labelledby="accordion-tab-6-heading-5" data-parent="#accordion-tab-6">
                                    <div class="card-body">
                                        <p>I don't 'need' to drink. I can quit anytime I want! THE BIG BRAIN AM WINNING AGAIN! I AM THE GREETEST! NOW I AM LEAVING EARTH, FOR NO RAISEN! There's one way and only one way to determine if an animal is intelligent. Dissect its brain!</p>
                                        <p><strong>Example: </strong>Guess again. Yeah, I do that with my stupidness. And when we woke up, we had these bodies.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

