{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<style type="text/css">
.teachers-right .nav .nav-item a.active, .teachers-right .nav .nav-item a:hover {
background-color: #315377;
color: #fff;
}
</style>
    <!--====== PAGE BANNER PART START ======-->

    <section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8" style="background-image: url({% static 'images/page-banner-3.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>{{teacher.user.first_name.title}}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home:home' %}">{% trans 'Home' %}</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'consultant:home' %}">{% trans 'Consultant' %}</a></li>

                            </ol>
                        </nav>
                    </div> <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->

    <!--====== TEACHERS PART START ======-->
    
    <section id="teachers-singel" class="pt-70 pb-120 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="teachers-left mt-50">
                        <div class="hero">
                            <img src="{{teacher.user.image}}" alt="Teachers">
                        </div>
                        <div class="name">
                            <h6>{{teacher.user.get_full_name.title}}</h6>
                            <span>{{teacher.user.get_user_data.title.title}}</span>
                       
                        </div>
                        <div class="social">
                            <ul class="social">
                                <li><a href="mailto:{{teacher.user.email}}"><i class="fa fa-envelope"></i></a></li> 
                                 {% for i in teacher.get_user_data.social %}
                                     {% if i.facebook %}
                                 <li><a href="{{i.facebook}}"><i class="fa fa-facebook"></i></a></li>     
                                     {% elif i.twitter %}
                                    <li><a href="{{i.twitter}}"><i  class="fa fa-twitter"></i></a></li>   
                                     {% elif i.linkedin %}
                                    <li><a href="{{i.linkedin}}"><i class="fa fa-linkedin-square"></i></a></li>   
                                     {% endif %}
                         {% endfor %}
                             </ul>
                        </div>
                        <div class="description">
                            <p>{{teacher.user.get_user_data.about_me|truncatechars_html:70}}</p>
                        </div>
                    </div> <!-- teachers left -->
                </div>
                <div class="col-lg-8">
                    <div class="teachers-right mt-50">
                        <ul class="nav nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">{% trans 'Consultant' %}</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                            </li> -->
                        </ul> <!-- nav -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                <div class="dashboard-cont">
                                    <div class="singel-dashboard pt-40">
                                        <h5>{% trans 'About Consultant' %}</h5>
                                        <div class="title pt-15">
                                            <div class="row">
                                            <div class="col">
                                                <p>{% trans 'Category' %} : {{teacher.category.name.title}}</p>
                                                <p>{% trans 'Days From' %} : {{teacher.start_time.date}}</p>
                                                <p>{% trans 'Available From' %} : {{teacher.start_time.time}}</p>
                                            </div>
                                            
                                                <div class="col">
                                                    <p>{% trans 'Price' %} :  $ {{teacher.price}}</p>
                                                    <p>{% trans 'Days To' %} : {{teacher.end_time.date}}</p>

                                                    <p>{% trans 'Available To' %} : {{teacher.end_time.time}}</p>
                                                   
                                                </div>
                                           
                                            </div>
                                            <div class="row">
                                                <div class="col mt-5">
                                                    <a href="{% url 'consultant:consultant_payment' teacher.id %}" class="main-btn">{% trans 'Payment' %}</a>
        
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </div>
                                   
                                </div> 
                            </div>
                            <!-- <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                                <div class="courses-cont pt-20">
                                    <div class="row">
                                        {% for i in courses %}
                                        <div class="col-md-6">
                                            <div class="singel-course mt-30">
                                                <div class="thum">
                                                    <div class="image">
                                                        <img src="{{i.image.url}}" alt="Course">
                                                    </div>
                                                    <div class="price">
                                                        <span>${{i.price|floatformat}}</span>
                                                    </div>
                                                </div>
                                                <div class="cont border">
                                                    <ul>
                                                        {% with ''|center:i.total_rate as range %}
                                                        {% for _ in range %}
                                                        <li><i class="fa fa-star"></i></li>
                
                                                            {% endfor %}
                                                        {% endwith %}
                                                    </ul>
                                                    <span>({{i.reviews.count}} Reviws)</span>
                                                    <br>
                                                    <a href="{% url 'home:course' i.slug %}"><h4>{{i.name.title}}</h4></a>
                                                        <div id="collapse-{{i.id}}">

                                    </div>
                                                    <div class="course-teacher">
                                                        <div class="thum">
                                                            <a href="{% url 'home:course' i.slug %}"><img src="{{i.image.url}}" alt="teacher"></a>
                                                        </div>
                                                        <div class="name">
                                                            <a href="{% url 'home:teacher' i.Instructor.slug %}"><h6>{{i.Instructor.first_name.title}}</h6></a>
                                                        </div>
                                                        <div class="admin">
                                                            <ul>
                                                                <li><a href="#"><i class="fa fa-user"></i><span>{{i.students.count}}</span></a></li>
                                                                {% if i in my_wishlist.course.all %}
                                                                <input class="love-add-{{i.id}}" type="hidden" value="{{i.id}}">
                                                                <li id="love-add" class="love-add-{{i.id}}" data-index="{{i.id}}"><a><i id="love-color-{{i.id}}"  class="fa fa-heart" style="color:#ffc600;" ></i><span>{{i.likes}}</span></a></li>
                                                               {% else %}
                                                            <input class="love-add-{{i.id}}" type="hidden" value="{{i.id}}">
                        
                                                               <li id="love-add" class="love-add-{{i.id}}" data-index="{{i.id}}"><a><i id="love-color-{{i.id}}"  class="fa fa-heart"></i><span>{{i.likes}}</span></a></li>
                        
                                                                {% endif %}                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                       {% endfor %}
                                    </div>
                                </div> 
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                <div class="reviews-cont">
                                    <div class="title">
                                        <h6>Student Reviews</h6>
                                    </div>
                                    <ul>
                                        {% for i in reviews %}
                                       <li>
                                           <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="{{i.user.image.url}}" style="max-height:5rem;" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>{{i.user.get_full_name.title}}</h6>
                                                        <span>{{i.created_at|date:"M d, Y h a"}}</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>{{i.review}}</p>
                                                    <div class="rating">
                                                        <ul>
                                                            {% with ''|center:i.rate as range %}
                                                            {% for _ in range %}
                                                            <li><i class="fa fa-star"></i></li>
                    
                                                                {% endfor %}
                                                            {% endwith %}
                                                        </ul>
                                                        <span>/ {{i.rate}} Star</span>
                                                    </div>
                                                </div>
                                            </div> 
                                       </li>
                                       {% endfor %}
                                    </ul>
                                    <div class="title pt-15">
                                        <h6>Leave A Comment</h6>
                                    </div>
                                    <div class="reviews-form">
                                        <form method="POST" action="">
                                            {% csrf_token %}
                                                <div class="row">
                                                  
                                                    <div class="col-lg-12">
                                                        <div class="form-singel">
                                                            <div class="rate-wrapper">
                                                                <div class="rate-label">Your Rating:</div>
                                                                <div class="rate">
                                                                    <div class="rate-item">  
                                                                        <input type="checkbox" style="opacity:0; position:absolute;" value="1"  name="rate">
                                                                    <i class="fa fa-star"  aria-hidden="true" ></i>
                                                                    </div>                                                                   
                                                                    <div class="rate-item">  
                                                                        <input type="checkbox" style="opacity:0; position:absolute;" value="2"  name="rate">
                                                                    <i class="fa fa-star"  aria-hidden="true" ></i>
                                                                    </div>
                                                                    <div class="rate-item">  
                                                                        <input type="checkbox" style="opacity:0; position:absolute;" value="3"  name="rate">
                                                                    <i class="fa fa-star"  aria-hidden="true" ></i>
                                                                    </div>
                                                                    <div class="rate-item">  
                                                                        <input type="checkbox" style="opacity:0; position:absolute;" value="4"  name="rate">
                                                                    <i class="fa fa-star"  aria-hidden="true" ></i>
                                                                    </div>
                                                                    <div class="rate-item">  
                                                                        <input type="checkbox" style="opacity:0; position:absolute;" value="5"  name="rate">
                                                                    <i class="fa fa-star"  aria-hidden="true" ></i>
                                                                    </div>
                                                                 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-singel">
                                                            <textarea name="review" placeholder="Comment" Required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-singel">
                                                            <button type="submit" class="main-btn">Post Comment</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                    </div>
                                </div> 
                            </div> -->
                        </div> 
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== EVENTS PART ENDS ======-->
{% endblock %}