
{% load static %}
{% load hosts %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
<title>Payment Form Widget Flat Responsive Widget Template :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Payment Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'payment/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- <link href='{% static "payment/fonts.googleapis.com/css?family=Fugaz+One" %}' rel='stylesheet' type='text/css'> -->
<link href='fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<style type="text/css">
li.resp-tab-item span .pic1{
  background: url(https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2020/01/931/506/Credible-Mastercard-Visa-iStock-458551149.jpg?ve=1&tl=1) repeat round !important;
}

</style>

</head>
<body>
	<div class="main">
		<h1>Payment Form Widget</h1>
		<div class="content">
			
	
						<div class="sap_tabs">
							<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
								<div class="pay-tabs">
									<h2>Select Payment Method</h2>
               
									  <ul class="resp-tabs-list">
										<!-- <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span><label  style="height: 70px;" class="pic1"></label>Visa / Credit Card</span></li>  -->
										  <!-- <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span><label style="height: 70px;" class="pic2"></label>Wester Union</span></li>  -->
										  <li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span><label style="height: 70px;" class="pic4"></label>PayPal</span></li>
										  <div class="clear"></div>
									  </ul>	
								</div>
								<div class="resp-tabs-container" style="padding:none !important;">
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="payment-info">
                     
                       <div class="col">
                        <div id="paypal-button-container"></div>
                
                       </div>
                   
                       

											<!-- <div class="single-bottom">
													<ul>
														<li>
															<input type="checkbox"  id="brand" value="">
															<label for="brand"><span></span>By checking this box, I agree to the Terms & Conditions & Privacy Policy.</label>
														</li>
													</ul>
											</div> -->
										</div>
									</div>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="payment-info">
											<h3> Bank Transfer</h3>
											<!--<h3>حوالة بنكية </h3>-->
											<table class="table">
												<tr>
													<th>Payment Information</th>
													<th>Info in English</th>
													<th>Info in Arabic</th>
												</tr>
												<tr>
													<td>Bank name</td>
													<td>suez canal Bank</td>
													<td>بنك قناة السويس</td>
												</tr>
												<tr>
													<td>IBan</td>
													<td colspan="2">EG260017001801820017420650101</td>
												</tr>
												<tr>
													<td>Riceve Name</td>
													<td>Nabil Kamal Mohamed</td>
													<td>نبيل كمال محمد</td>
												</tr>
												<tr>
													<td>Branch:</td>
													<td>Al AHRAR BRANCH</td>
													<td>فرع الأحرار</td>
												</tr>
												<tr>
													<td>Swift Code</td>
													<td>SUCAEGCXXXX</td>
													<td>SUCAEGCXXXX</td>
												</tr>
											</table>
											<h4 style="color:red">
											 الرجاء استخدام رقم طلبك كمرجع لعملية الدفع
											</h4>
                      <form method="POST" enctype="multipart/form-data">
                        {{ form.non_field_errors }}
                        {% csrf_token %}
                      
                        <div class="tab-for">
                          <h5>Phone Number</h5>
                          {{ form.number.errors }}
                          <input type="text" name="number" id="number" required="true">
                          <h5>Image receipt</h5>
                          {{ form.image.errors }}
                          <input type="file" name="image" required="true">
                        </div>
                        <br /><br />
                        <input type="hidden" name="payment"  value="Bank Transaction">
                        <input type="submit"  value="submit">
                      </form>
											
										</div>
									</div>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
										<div class="payment-info">
											<h3>PayPal</h3>
											<h4>Already Have A PayPal Account?</h4>
                          </div>
                          <div id="paypal-button-container"></div>
									</div>
								
								</div>	
							</div>
						</div>	
            
		</div>
	</div>
  <script type="text/javascript" src="{% static 'payment/js/jquery.min.js' %}"></script>
  <script src="{% static 'payment/js/easyResponsiveTabs.js' %}" type="text/javascript"></script>

    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
  <script type="text/javascript">

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        style: {
            color:  'blue',
            shape:  'pill',
            label:  'pay',
            height: 40
        },
                           // Call your server to set up the transaction
                           createOrder: function(data, actions) {
                            return fetch('{% url "consultant:paypal_create" teacher.id %}', {
                                method: 'post',
                                headers: {"X-CSRFToken": csrftoken}
                            }).then(function(res) {
                                return res.json();
                            }).then(function(orderData) {
                                return orderData.id;
                            });
                        },
              
                        // Call your server to finalize the transaction
                        onApprove: function(data, actions) {
                    
                            return fetch("capture/"+data.orderID+"/{{request.user.id}}/{{user_data.id}}/",{
                                method: 'post',
                                headers: {"X-CSRFToken": csrftoken}
                            }).then(function(res) {
                               
                                window.location.href = '{% url "accounts:consultant_payment" %}';                                
                                return res.json();
                            }).then(function(orderData) {
                             
                                // Three cases to handle:
                                //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                                //   (2) Other non-recoverable errors -> Show a failure message
                                //   (3) Successful transaction -> Show a success / thank you message
              
                                // Your server defines the structure of 'orderData', which may differ
                                var errorDetail = Array.isArray(orderData.details) && orderData.details[0];
              
                                if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                                    // Recoverable state, see: "Handle Funding Failures"
                                    // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                                    return actions.restart();
                                }
              
                                if (errorDetail) {
                                    var msg = 'Sorry, your transaction could not be processed.';
                                    if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                                    if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                                    // Show a failure message
                                    return alert(msg);
                                }
              
                                // Show a success message to the buyer
                               
                            });
                        },
                        onCancel: function (data, actions) {
                            return fetch('{% url "accounts:consultant_payment" %}',{
                                method: 'post',
                                headers: {"X-CSRFToken": csrftoken}
                            }).then(function(res){
                                window.location.href = '{% url "accounts:consultant_payment" %}';
                                return res.json();
                            })
                            // Show a cancel page or return to cart
                           
                          },
              
                          

    }).render('#paypal-button-container');

    $(document).ready(function() {
      $("#number").keydown(function(event) {
          // Allow: backspace, delete, tab, escape, and enter
          if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
              // Allow: Ctrl+A
              (event.keyCode == 65 && event.ctrlKey === true) ||
              // Allow: home, end, left, right
              (event.keyCode >= 35 && event.keyCode <= 39)) {
              // let it happen, don't do anything
              return;
          } else {
              // Ensure that it is a number and stop the keypress
              if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                  event.preventDefault();
              }
          }
      });
  });
$(document).ready(function () {
  $('#horizontalTab').easyResponsiveTabs({
    type: 'default', //Types: default, vertical, accordion           
    width: 'auto', //auto or any width like 600px
    fit: true   // 100% fit in a container
  });
});
     
  </script>
</body>
</html>