{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
#quiz_details{
    margin-top:50px;
}
a{
    color:#ffc600;
}
#confirm_button{
   background-color:#07294d;
}
.progress-bar{
background-color:#ffc600;
}
.prev_ques{
    background-color:#ffc600;
    border-radius:20px;
    color:#07294d;
    margin-top:10px;
}
.prev_ques:hover{
    color:#fff;
}
.next_ques{
    background-color:#ffc600;
    border-radius:20px;
    color:#07294d;
    margin-top:10px;
}
.next_ques:hover{
    color:#fff;
}
</style>
<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url({% static 'images/page-banner-2.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Quiz</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'home:courses'   %}">Courses</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'home:course' course.slug  %}">{{course.name.title}}</a></li>

                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<div class="container">
    <div class="row">
        <div class="col col-md-8">
            <div id="quiz_details">
            
    <small>Quiz for : <span><a href="{% url 'home:course' course.slug %}">{{course.name}}</a></span> </small>
   
<small>Quiz Status:
    {% if user_progress.completed %}
     <span id="course_status">Finished</span> 
     {% else %}
     <span id="course_status">Not Finished</span> 
   
     {% endif %}
    </small>
<!-- <h3 class="course-title">Quiz - Question 1</h3> -->
<h4>{{question.title}}</h4>
<p>{{question.details}}</p>
</div>
            <div class='row'>
               
                <div class="col-md-12">
                    <form id="question_form" method="POST">
                        {% csrf_token %}
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            {% for i in answers %}
                        <div class="radio">
                        <label>
                        <input id="radio" name="answer" id="{{i.id}}" value="{{i.id}}" type="radio" required> {{i.answer}} 
                        </label>
                        </div>
                        {% endfor %}
                        </div>
                        <div id="test_result_message">
                           
                        </div>
                       
                        <div id="error_button" class="panel-footer">
                            {% if default_progress.answer %}
                        <button type="submit" class="btn btn-primary disabled" id="confirm_button" role="button" disabled>Confirm</button>
                        {% else %}
                        <button type="submit" class="btn btn-primary " id="confirm_button" role="button">Confirm</button>

                        {% endif %}
                     
                        </div>
                        </div>
                <hr class="invis">
                <p id="progress_p" class="lead">{{user_progress.percent|floatformat}}% Completed</p>
                        
                <div id="progress_result" class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{user_progress.percent}}%;">
                    <span  class="sr-only">Complete {{user_progress.percent|floatformat}}%</span>
                    </div>
                    </div>
                </form>
                </div>
           
            </div>
            <div class="row">
                <div  class="col-md-6 ">
                    {% if prev %}
                    <a href="{% url 'quiz:home' course.slug prev %}" class="btn btn-default btn-block next_ques">Prev Quiz Question</a>
                   
                    {% endif %}
                </div>
                <div  class="col-md-6 ">
                    <div id="add_result_button">

                    </div>
                    {% if default_progress.result and next == False  %}
                    <a href="{% url 'quiz:result' course.slug  %}" class="btn btn-default btn-block next_ques">Result</a>
                    {% endif %}
                    {% if next %}
                    <a href="{% url 'quiz:home' course.slug next %}" class="btn btn-default btn-block next_ques">Next Quiz Question</a>
                   
                    {% endif %}

                </div>
               
                </div>
                <hr class="invis">
        </div>
        <div id="course-left-sidebar" class="col-md-4 mt-5 mb-5">
            <div class="course-image-widget">
            <img src="{{course.image.url}}" alt="" class="img-responsive">
            </div>
            <div class="course-meta">
            <p class="course-category">Category : <a href="{% url 'home:course' course.slug %}">{{course.branch.category.name.title}}</a></p>
            <hr>
            <div class="rating">
            <p>Reviews : &nbsp;
            {% with ''|center:course.total_rate as range %}
                {% for _ in range %}
                <i class="fa fa-star"></i>
                     {% endfor %}
            {% endwith %}

            <a title="" >&nbsp; ({{course.reviews.count}})</a></p>
            </div>
            <hr>
            <p class="course-student">Students : {{course.students.count}} Members </p>
            <hr>
            <p class="course-time">Period : {{course.get_duration_model}} </p>
            <hr>
            <!-- <p class="course-prize">Prize : <i class="fa fa-trophy"></i> <i class="fa fa-certificate"></i> <i class="fa fa-shield"></i></p>
            <hr> -->
            <p class="course-instructors">Instructor : <a href="{% url 'home:teacher' course.Instructor.slug %}" title="">{{course.Instructor.first_name.title}} {{course.Instructor.last_name.title}}</a></p>
            <!-- <hr> -->
            <!-- <p class="course-forum">Course Forum : <a href="#" title="">Web Designers</a></p> -->
            </div>
            <!-- <div class="course-button">
            <a href="#" class="btn btn-primary btn-block">TAKE THIS COURSE</a>
            </div> -->
            </div>
    </div>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    $("#confirm_button").click(function(e){

        // prevent from normal form behaviour
            e.preventDefault();
            // serialize the form data  
            var serializedData = $("#question_form").serialize();
            //let target_element = $('#add-html-here');
            $.ajax({
                type : 'POST',
                url :  "{% url 'quiz:home' course.slug question.slug %}",
                data : serializedData,
                success : function(response){
                //reset the form after successful submit 
                      
                  let html_1=`  
                  <div class="progress-bar" role="progressbar" style="width:${response.percent.percent}%;">
                    <span class="sr-only">Complete ${response.percent.percent}%</span>
                    </div>
                    `;
                         
                 
                    $("#progress_result").html(html_1);

                    $("#progress_p").html(`${response.percent.percent}% Completed`);
                    let html_2=`
                    <button type="submit" class="btn btn-primary disabled" id="confirm_button" role="button" disabled>Done</button>
                    `
                    $("#error_button").html(html_2);
                 
                 if(response.message == false){
                    let html_3=`
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong style="text-align: center;">Invalid Answer!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                     `
                     $("#test_result_message").html(html_3);
                 }
                 else if(response.message == true){
                    let html_4=`
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong  style="text-align: center;">Correct Answer </strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                     `
                     $("#test_result_message").html(html_4); 
                 }
                 if(response.percent.result == true){
                    let html_5=`
                <a href="{% url 'quiz:result' course.slug %}" class="btn btn-default btn-block next_ques">Result</a>

                     `
                     $("#add_result_button").html(html_5);
                 }
               
                   
                   
                },
                error : function(response){
                    let html_1=`  
        <button type="submit" class="btn btn-primary disabled" id="confirm_button" role="button" disabled>Done</button>

                    `;
                            
                    
                       $("#error_button").html(html_1);
   
                }
            });
       });
</script>
{%endblock%}