{% extends 'account_base.html' %}
{% load i18n %}


{% block content %}
<title>{% block title  %} | {% trans 'Payments' %}{% endblock %}</title>


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">{% trans 'Consultant Payments' %}</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <!-- <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6> -->
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                          
                                            <th>{% trans 'User' %}</th>
                                            <th>{% trans 'Method' %}</th>
                                            <th>{% trans 'Transaction' %}</th>
                                        <th>{% trans 'Payment Image' %}</th>

                                        <th>{% trans 'Status' %}</th>
                                        <th>{% trans 'Action' %}</th>

                                        </tr>
                                    </thead>
                            
                                   <tbody>
                                       {% for i in payments %}
                                    <tr>
                                       
                                        <td>{{i.user.username}}</td>
                                        <td>{{i.method}}</td>
                                        <td>{{i.transaction_number}}</td>
                                        {% if i.payment_image %}
                                        <td><a target="__blank" href="{{i.payment_image}}">{% trans 'Image Link' %}</a></td>
                                            {% else %}
                                        <td>Null</td>
                                            {% endif %}
                                        <td>{{i.status}}</td>
                                        {% if i.status == "declined" and i.method == "Western Union" %}
                                        <td><a href="{% url 'accounts:edit_consultant_payment' i.id %}" class="btn btn-info">{% trans 'Edit' %}</a></td>
                                            {% else %}
                                        <td></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                   </tbody>
                                </table>
                                {% if payments.has_other_pages %}
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% if payments.has_previous  %}
                                      <li class="page-item"><a class="page-link" href="?page={{ payments.previous_page_number }}">{% trans 'Previous' %}</a></li>
                                      {% endif %}
                                      {% for i in  payments.paginator.page_range %}
                                      {% if payments.number == i %}
                                      <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% else %}
                                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% endif %}
                                      {% endfor %}
                                      {% if payments.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ payments.next_page_number }}">{% trans 'Next' %}</a></li>
                                      {% endif %}
                                    </ul>
                                  </nav>
                                  {% endif %}
                            </div>
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% endblock %}