{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load embed_video_tags %}
{% block content %}
 <style type="text/css">
#id_payment_method{
        display:block !important;
     }
iframe{
width:100% !important;
     }
#paid:hover{
    color:#ffc600;
}
#test {
        overflow: hidden;
        text-align: center;
      }
      
#test:before,
#test:after {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
      }
      
#test:before {
        right: 0.5em;
        margin-left: -50%;
      }
      
#test:after {
        left: 0.5em;
        margin-right: -50%;
      }
#black-col{
   color:#07294d; 
   padding-right:5px;
}
#yellow-col{
    color:#ffc600;
    
}
#submit-button{
    color:#ffc600;
     background-color:#07294d;
}
#submit-button:hover{
    background-color:#ffc600;
    color:#07294d;
}
#cancel{
    color:#fff;
    background-color:#ffc600;

}
</style>  
    <!--====== PAGE BANNER PART START ======-->
    
    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url({% static 'images/page-banner-2.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>{{course.name.title}}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home:home' %}">{% trans 'Home' %}</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'home:courses'  %}">{% trans 'Courses' %}</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'home:branch' slug=course.branch.slug  %}">{{course.branch.name}}</a></li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== PAGE BANNER PART ENDS ======-->
    
    <!--====== COURSES SINGEl PART START ======-->
    
    <section id="corses-singel" class="pt-90 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="corses-singel-left mt-30">
                        <div class="title">
                            <h3>{{course.name.title}}</h3>
                        </div> <!-- title -->
                        <div class="course-terms">
                            <ul>
                                <li>
                                    <div class="teacher-name">
                                        <div class="thum">
                                            <img src="{{course.Instructor.image}}" style="max-height: 4rem;" alt="Teacher">
                                        </div>
                                        <div class="name">
                                            <span>{% trans 'Teacher' %}</span>
                                            <h6>{{course.Instructor.username.title}}</h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="course-category">
                                        <span>{% trans 'Category' %}</span>
                                        <h6>{{course.branch.category.name}} </h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="review">
                                        <span>{% trans 'Review' %}</span>
                                        <ul>
                                            {% with ''|center:course.total_rate as range %}
                                            {% for _ in range %}
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                 {% endfor %}
                                        {% endwith %}
                                            
                                            <li class="rating">({{course.reviews.count}} {% trans 'Reviews' %})</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div> <!-- course terms -->
                        {% cache 86400 single_course course.slug  %}
                        <div class="corses-singel-image pt-50">
                            <iframe src="{{course.videos.first.video}}" loading="lazy" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" style="height:500px;" allowfullscreen="true"></iframe>                          
                        </div>
                        {% endcache %}
                                    
                        
                        <div class="corses-tab mt-30">
                            <ul class="nav nav-justified" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">{% trans 'Overview' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a id="curriculam-tab" data-toggle="tab" href="#curriculam" role="tab" aria-controls="curriculam" aria-selected="false">{% trans 'Curriculum' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a id="instructor-tab" data-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">{% trans 'Instructor' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">{% trans 'Reviews' %}</a>
                                </li>
                            </ul>
                            
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                    <div class="overview-description">
                                        <div class="singel-description pt-40">
                                            <h6>{% trans 'Course Summery' %}</h6>
                                            <p  style=" scrollbar-width: auto; height: 10rem; width: auto;overflow-y: scroll;">{{course.details}}</p>
                                        </div>
                                        <!-- <div class="singel-description pt-40">
                                            <h6>Requrements</h6>
                                            <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                        </div> -->
                                    </div> <!-- overview description -->
                                </div>
                                <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                    <div class="curriculam-cont">
                                        <div class="title">
                                            <h6>{{course.name.title}}</h6>
                                        </div>
                                        <div class="accordion" id="accordionExample">
                                            {% for i in course.videos.all %}
                                            <div class="card">
                                                <div class="card-header" id="headingOne">  
                                                    <a href="#" data-toggle="collapse" data-target="#collapseOne-{{i.id}}" aria-expanded="true" aria-controls="collapseOne-{{i.id}}">
                                                        <ul>
                                                            <li><i class="fa fa-file-o"></i></li>
                                                           <li><span class="lecture">{% trans 'Lecture' %} {{forloop.counter}}</span></li>
                                                           <br>
                                                          <!-- <li><span class="head">{{i.name}}</span></li> -->
                                                            <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span>{{i.get_duration_model}}</span></span></li>
                                                        </ul>
                                                    </a>
                                                </div>

                                                <div id="collapseOne-{{i.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                    
                                                        <a href="{% url 'home:video' course=i.my_course.slug slug=i.slug %}"><span class="head">{{i.name}}</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                          
                                        </div>
                                        <br>
                                    </div> <!-- curriculam cont -->
                                </div>
                                <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
                                    <div class="instructor-cont">
                                        <div class="instructor-author">
                                            <div class="author-thum">
                                                <img src="{{course.Instructor.image}}" style="max-height:10rem;" alt="Instructor">
                                            </div>
                                            <div class="author-name">
                                                <a href="{% url 'home:teacher' course.Instructor.slug %}"><h5>{{course.Instructor.first_name.title}} {{course.Instructor.last_name.title}}</h5></a>
                                                <span>{{course.Instructor.title.title}}</span>
                                                <ul class="social">
                                                   <li><a href="mailto:{{course.Instructor.email}}"><i class="fa fa-envelope"></i></a></li> 
                                                    {% for i in course.Instructor.get_user_data.social %}
                                                        {% if i.facebook %}
                                                    <li><a href="{{i.facebook}}"><i class="fa fa-facebook"></i></a></li>     
                                                        {% elif i.twitter %}
                                                       <li><a href="{{i.twitter}}"><i  class="fa fa-twitter"></i></a></li>   
                                                        {% elif i.linkedin %}
                                                       <li><a href="{{i.linkedin}}"><i class="fa fa-linkedin-square"></i></a></li>   
                                                        {% endif %}
                                            {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="instructor-description pt-25">
                                            <p style=" scrollbar-width: auto; height: 10rem; width: auto;overflow-y: scroll;">{{course.Instructor.about_me}}</p>
                                        </div>
                                    </div> <!-- instructor cont -->
                                </div>
                                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                    <div class="reviews-cont">
                                        <div class="title">
                                            <h6>{% trans 'Student Reviews' %}</h6>
                                        </div>
                                        <ul>
                                            {% for i in course.reviews.all %}
                                           <li>
                                               <div class="singel-reviews">
                                                    <div class="reviews-author">
                                                        <div class="author-thum">
                                                            <img src="{{i.user.image}}" style="max-height: 5rem;" alt="Reviews">
                                                        </div>
                                                        <div class="author-name">
                                                            <h6>{{i.user.first_name.title}} {{i.user.last_name.title}}</h6>
                                                            <span>{{i.created_at|date:"M d, Y H:i"}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="reviews-description pt-20">
                                                        <p>{{i.review}}</p>
                                                        <div class="rating">
                                                            <ul>
                                                                {% with ''|center:i.rate as range %}
                                                                {% for _ in range %}
                                                                <li><i class="fa fa-star"></i></li>
                                                                {% endfor %}
                                                                {% endwith %}
                                                              
                                                            </ul>
                                                            <span>/ {{i.rate}} {% trans 'Star' %}</span>
                                                        </div>
                                                    </div>
                                                </div> <!-- singel reviews -->
                                           </li>
                                           {% endfor %}
                                        </ul>
                                        <div class="title pt-15">
                                            <h6>{% trans 'Leave A Comment' %}</h6>
                                        </div>
                                        <div class="reviews-form">
                                            <form id="comment-form" method="POST">
                                             
                                                {% csrf_token %}
                                                <div class="row">
                                                    <!-- <div class="col-md-6">
                                                        <div class="form-singel">
                                                            <input name="first_name" type="text" placeholder="First name" required>
                                                        </div>
                                                    </div> -->
                                                    <!-- <div class="col-md-6">
                                                        <div class="form-singel">
                                                            <input name="rate" type="number" placeholder="Last Name">
                                                        </div>
                                                    </div> -->
                                                    <div class="col-lg-12">
                                                        <div class="form-singel">
                                                            <div class="rate-wrapper">
                                                                <div class="rate-label">{% trans 'Your Rating' %}:</div>
                                                                <div class="rate">
                                                       
                                                            <div class="rate-item">  
                                                                <input type="checkbox" style="opacity:0; position:absolute;" value="1"  name="rate">
                                                            <i class="fa fa-star"  aria-hidden="true" ></i>
                                                            </div>
                                                            
                                                  <div class="rate-item">  
                                                       <input type="checkbox" style="opacity:0; position:absolute;" value="2"  name="rate">
                                                <i class="fa fa-star"  aria-hidden="true" ></i>
                                                  </div>
                                                  
                                                  <div class="rate-item"> 
                                                       <input type="checkbox" style="opacity:0; position:absolute;" value="3"  name="rate"> 
                                                <i class="fa fa-star"  aria-hidden="true" ></i>
                                                  </div>
                                                 
                                                  <div class="rate-item"> 
                                                       <input type="checkbox"  style="opacity:0; position:absolute;"value="4"  name="rate"> 
                                                <i class="fa fa-star"  aria-hidden="true" ></i>
                                                  </div>
                                                   
                                                    <div class="rate-item">  
                                                      <input type="checkbox" style="opacity:0; position:absolute;" value="5"  name="rate">
                                                <i class="fa fa-star"  aria-hidden="true" ></i>
                                                  </div>
                                                    
                                                                
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-singel">
                                                            <textarea name="review" placeholder="{% trans 'Comment' %}" Required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div id="message">

                                                        </div>
                                                        <div class="form-singel">
                                                            <button type="submit" id='post_comment' class="main-btn">{% trans 'Post Comment' %}</button>
                                                        </div>
                                                    </div>
                                                </div> <!-- row -->
                                            </form>
                                        </div>
                                    </div> <!-- reviews cont -->
                                </div>
                            </div> <!-- tab content -->
                        </div>
                    </div> <!-- corses singel left -->
                    
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="course-features mt-30">
                               <h4>{% trans 'Course Features' %} </h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>{% trans 'Duration' %} : <span>{{course.get_duration_model}}</span></li>
                                    <li><i class="fa fa-clone"></i>{% trans 'Lectures' %} : <span>{{course.videos.count}}</span></li>
                                    <li><i class="fa fa-beer"></i>{% trans 'Quizzes' %} :  <span>{{course.calculate_quiz}}</span></li>
                                    
                                    <li><i class="fa fa-user-o"></i>{% trans 'Students' %} :  <span>{% if not course.students.count %}0 {% else %} {{course.students.count}} {% endif %}</span></li>
                                </ul>
                                <div class="price-button pt-10">
                                    
                                    {% if course.discount %}
                                    <span>Price : <b>${{course.discount|floatformat}}</b></span>
                                   
                                    <span style="margin-top: 10px;  text-decoration: line-through; ">{% trans 'Price' %} : <b>${{course.price|floatformat}}</b></span>

                                    {% else %}
                                    <span>Price : <b>${{course.price|floatformat}}</b></span>
                                    {% endif %}
                                   
                                    {% if request.user in course.students.all %}
                                <a  class="main-btn" id="paid"  href="{{course.get_first_quiz}}">{% trans 'Take Quiz' %}</a>
                                    <!-- <a  class="main-btn disabled" id="paid" disabled>Paid</a> -->
                                    {% else %}
                            
                                    <a href="{% url 'home:checkout' course.slug %}" class="main-btn">{% trans 'Enroll Now' %}</a>
                                    {% endif %}
                                   

                                   
                                </div>
                            </div> <!-- course features -->
                        </div>
                        <!-- <div class="col-lg-12 col-md-6">
                            <div class="You-makelike mt-30">
                                <h4>You make like </h4> 
                                {% for i in same %}
                                <div class="singel-makelike mt-20">
                                    <div class="image">
                                        <img src="{{i.image}}" style="max-height:7rem;" alt="Image">
                                    </div>
                                    <div class="cont">
                                        <a href="{% url 'home:course' i.slug %}"><h4>{{i.name}}</h4></a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-user"></i>{{i.students.count}}</a></li>
                                            <li>${{i.price|floatformat}}</li>
                                        </ul>
                                    </div>
                                </div>
                                    {% endfor %}
                            </div>
                        </div> -->

                        <div class="col-lg-12 col-md-6">
                            <div class="You-makelike mt-30">
                                <h4>{% trans 'Recent Event' %}s</h4> 
                                {% for event in course.related_events %}
                                <div class="cont">
                                    <a href="{% url 'home:event' event.slug %}"><h4>{{event.name|truncatewords:10}}</h4></a>
                                   
                                </div>
                                <div class="events-coundwon bg_cover" data-overlay="8" style="background-image: url({{event.image}}); max-height:7rem; margin-top:0px;">
                                    <div data-countdown="{{event.date|date:'Y/m/d'}}"></div>
                                   
                                </div> 
                                {% endfor %}
                            </div>
                        </div>
                   

                    </div>
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="releted-courses pt-95">
                        <div class="title">
                            <h3>{% trans 'Related Courses' %}</h3>
                        </div>
                        <div class="row">
                            {% for i in course.same %}
                            <div class="col-md-6">
                                <div class="singel-course mt-30">
                                    <div class="thum">
                                        <div class="image">
                                            <img src="{{i.image}}" alt="Course">
                                        </div>
                                        <div class="price">
                                            <span>${{i.price|floatformat}}</span>
                                        </div>
                                    </div>
                                    <div class="cont">
                                        <ul>
                                            {% if i.rate  %}
                                            {% with ''|center:i.rate as range %}
                                            {% for _ in range %}
                                            <li><i class="fa fa-star"></i></li>

                                                    {% endfor %}
                                            {% endwith %}
                                            {% else %}
                                            <li><i class="fa fa-star"></i></li>

                                            {% endif %}
                                         
                                        </ul>
                                        <span>({{i.reviews.count}} {% trans 'Reviews' %})</span>
                                        <br>
                                        <a href="{% url 'home:course' slug=i.slug %}"><h4>{{i.name.title}}</h4></a>
                                        <div id="collapse-{{i.id}}">

                                        </div>
                                        <div class="course-teacher">
                                            <div class="thum">
                                                <a href="#"><img src="{{i.Instructor.image}}" alt="teacher"></a>
                                            </div>
                                            <div class="name">
                                                <a href="#"><h6>{{i.Instructor.get_full_name.title}}</h6></a>
                                            </div>
                                            <div class="admin">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-user"></i><span>{{i.students.count}}</span></a></li>
                                                    {% if i in my_wishlist.course.all %}
                                                    <input class="love-add-{{i.id}}" type="hidden" value="{{i.id}}">
                                                    <li id="love-add" class="love-add-{{i.id}}" data-index="{{i.id}}"><a><i id="love-color-{{i.id}}"  class="fa fa-heart" style="color:#ffc600;" ></i><span>{{i.likes}}</span></a></li>
                                                   {% else %}
                                                <input class="love-add-{{i.id}}" type="hidden" value="{{i.id}}">
            
                                                   <li id="love-add" class="love-add-{{i.id}}" data-index="{{i.id}}"><a><i id="love-color-{{i.id}}"  class="fa fa-heart"></i><span>{{i.likes}}</span></a></li>
            
                                                    {% endif %}                                     
                                                           </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- singel course -->
                            </div>
                            {% endfor %}
                        </div> <!-- row -->
                    </div> <!-- releted courses -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>


    <!--====== COURSES SINGEl PART ENDS ======-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#number").keydown(function(event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) ||
                // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            } else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });
    });
    function onlyNumberKey(evt) {
          
        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
    $("#").click(function(e){

        // prevent from normal form behaviour
            e.preventDefault();
            // serialize the form data  
            var serializedData = $("#comment-form").serialize();
            //let target_element = $('#add-html-here');
            $.ajax({
                type : 'POST',
                url :  "{% url 'home:course' course.slug %}",
                data : serializedData,
                success : function(response){
                //reset the form after successful submit
                if(!response["valid"]){

                    $("#comment-form")[0].reset();
                      
                  let html_1=`  
                 <div class="u-s-m-b-30">
    
                    <label for="c-message"></label>
                    <p> Messgae Sent Successfully </p>
                </div>`;
                         
                 
                    $("#message").html(html_1);

                }
                
                },
                error : function(response){
                    console.log(response)
                }
            });
       });

       const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },
                               // Call your server to set up the transaction
                               createOrder: function(data, actions) {
                                return fetch('{% url "home:create" course.slug %}', {
                                    method: 'post',
                                    headers: {"X-CSRFToken": csrftoken}
                                }).then(function(res) {
                                    return res.json();
                                }).then(function(orderData) {
                                    return orderData.id;
                                });
                            },
                  
                            // Call your server to finalize the transaction
                            onApprove: function(data, actions) {
                                return fetch('/capture/' + data.orderID +'/{{course.id}}/',{
                                    method: 'post',
                                    headers: {"X-CSRFToken": csrftoken}
                                }).then(function(res) {
                                   
                                    window.location.href = '{% url "home:success" %}';                                
                                    return res.json();
                                }).then(function(orderData) {
                                 
                                    // Three cases to handle:
                                    //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                                    //   (2) Other non-recoverable errors -> Show a failure message
                                    //   (3) Successful transaction -> Show a success / thank you message
                  
                                    // Your server defines the structure of 'orderData', which may differ
                                    var errorDetail = Array.isArray(orderData.details) && orderData.details[0];
                  
                                    if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                                        // Recoverable state, see: "Handle Funding Failures"
                                        // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                                        return actions.restart();
                                    }
                  
                                    if (errorDetail) {
                                        var msg = 'Sorry, your transaction could not be processed.';
                                        if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                                        if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                                        // Show a failure message
                                        return alert(msg);
                                    }
                  
                                    // Show a success message to the buyer
                                   
                                });
                            },
                            onCancel: function (data, actions) {
                                return fetch('/payment/failed/',{
                                    method: 'post',
                                    headers: {"X-CSRFToken": csrftoken}
                                }).then(function(res){
                                    window.location.href = '{% url "home:failed" %}';
                                    return res.json();
                                })
                                // Show a cancel page or return to cart
                               
                              },
                  
                              

        }).render('#paypal-button-container');
     
            function copyMyText() {
                 //select the element with the id "copyMe", must be a text box
                 var textToCopy = document.getElementById("copyMe");
                 //select the text in the text box
                 textToCopy.select();
                 //copy the text to the clipboard
                 document.execCommand("copy");
            }
          
   
function copyMyBank() {
//select the element with the id "copyMe", must be a text box
var textToCopy = document.getElementById("BankAccount");
//select the text in the text box
textToCopy.select();
//copy the text to the clipboard
document.execCommand("copy");
}   
    </script>

   {% endblock %}