{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<style type="text/css">
.qs{
       color: #ffc600;
    }
</style>
<div class="container">
    <div class="row">
    <div class="col-md-12 mt-3 mb-3">
    <div class="section-title text-center">
    <h4>{% trans 'Friendly Asked Questions' %}</h4>
    <p>{% trans 'The most frequently asked questions about LearnPLUS are listed below.<br>If you want to ask a question at you, please contact us' %}.</p>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 first">
    <div class="question-answer">
    <i class="fa fa-question-circle alignleft qs"></i>
    <h4>The LearnPLUS is 100% Free?</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 last">
    <div class="question-answer">
    <i class="fa fa-question-circle alignleft qs"></i>
    <h4>When I get Payment If I am a Teacher?</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 first">
    <div class="question-answer">
    <i class="fa fa-question-circle alignleft qs"></i>
    <h4>How Can I Login or Open New Account?</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.y text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 last">
    <div class="question-answer">
    <i class="fa fa-question-circle alignleft qs"></i>
    <h4>How Can I Start New Course without Payment?</h4>
    <p>Lorem Ipsum is simply dummy when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 first">
    <div class="question-answer">
    <i class="fa fa-question-circle alignleft qs"></i>
    <h4>The LearnPLUS is 100% Free?</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown prinok a galley of type and scrambled it to make a type specimen book. ter took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 last">
    <div class="question-answer">
    <i class="fa fa-question-circle alignleft qs"></i>
    <h4>When I get Payment If I am a Teacher?</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 first">
    <div class="question-answer">
    <i class="fa fa-question-circle alignleft qs"></i>
    <h4>How Can I Login or Open New Account?</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.y text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 last">
    <div class="question-answer">
    <i class="fa fa-question-circle alignleft qs"></i>
    <h4>How Can I Start New Course without Payment?</h4>
    <p>Lorem Ipsum is simply dummy when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the pnter took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    </div>
    </div>
    <hr class="invis">
    <div class="button-wrapper text-center mb-3">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since<br> the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    <!-- <a href="#" class="btn btn-default border-radius"><i class="fa fa-sign-in"></i> Join Us Today</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="#" class="btn btn-primary"><i class="fa fa-download"></i> Download PDF</a> -->
    </div>
    </div>
{% endblock %}


