@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #c4c3ca;
  /*  background-color: #1f2029;*/
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    justify-content: center;
   
}

a {
    cursor: pointer;
    transition: all 200ms linear
}

    a:hover {
        text-decoration: none
    }

.link {
    color: #c4c3ca
}

    .link:hover {
        color: #ffeba7
    }

p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7
}

h4 {
    font-weight: 600
}

h6 span {
    padding: 0 52px;
    text-transform: uppercase;
    font-weight: 700
}

.wrapper {
    position: relative;
    width: 100%;
    display: block;
    width: 100%;
    margin: 0px auto;
    padding: 7px;
    justify-content: center;
}

.cover-section {
    background-image: url('../images/bg-01.jpg');
    background-size: cover;
    height: 100vh;
    
    background-repeat: no-repeat;
}

/*.full-height {
    min-height: 100vh
}*/

#reg-log {
    position: absolute;
    left: -999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: -16px auto;
    cursor: pointer;
    background-color: #ffeba7
}

    .checkbox:checked + label:before,
    .checkbox:not(:checked) + label:before {
        position: absolute;
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #ffeba7;
        background-color: #102770;
        font-family: 'unicons';
        content: '\eb4f';
        z-index: 20;
        top: -10px;
        left: -10px;
        line-height: 36px;
        text-align: center;
        font-size: 24px;
        transition: all 0.5s ease
    }

    .checkbox:checked + label:before {
        transform: translateX(44px) rotate(-270deg)
    }

.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 450px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 45px;
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
    margin-top: -32px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

.card-front,
.card-back {
    width: 100%;
    height: 475px;
    background-color: #2a2b38;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.card-back {
    transform: rotateY(180deg)
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg)
}

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block
}

.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0
}

.form-style {
    padding: 13px 20px;
    padding-left: 18px;
    height: 35px;
    width: 96%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2)
}

    .form-style:focus,
    .form-style:active {
        border: none;
        outline: none;
        box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2)
    }

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #ffeba7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear
}

.form-group input:-ms-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear
}

.form-group input::-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear
}

.form-group input:-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear
}

.form-group input::-webkit-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear
}

.form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear
}

.form-group input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear
}

.form-group input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear
}

.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear
}

.btn {
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    color: #102770;
    box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2)
}

    .btn:active,
    .btn:focus {
        background-color: #102770;
        color: #ffeba7;
        box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2)
    }

    .btn:hover {
        background-color: #102770;
        color: #ffeba7;
        box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2)
    }

.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear
}

    .logo img {
        height: 26px;
        width: auto;
        display: block
    }

#btn-submit {
    color: #EEDE6E;
    padding: 11px 12px;
}

#btn-submit-su {
    color: #EEDE6E;
    padding: 8px 12px;
}

#h4sign {
    color: #EEDE6E;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 0.5rem !important;
}


#icon-social {
    font-size: 21px;
    margin-left: 10px;
}

#icon-social-g {
    font-size: 21px;
    margin-bottom: 6px;
    margin-left: 10px;
}

.signin-social {
    margin-top: 22px;
}

#btn-dropdown {
    height: 33px;
    padding-top: 0px;
    background-color: #102770;
    border-color: #102770;
    color: #ddcf69
}

.dropdown {
    margin-top: -9px;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 11px;
}

#lbl-are {
    color: #EEDE6E;
    font-family: ui-serif;
}

.pt-5 {
    padding-top: 2rem !important;
}

.term-checkbox {
    position: absolute;
    left: 21px;
    bottom: 28px;
}

.lab-terms {
    color: #EEDE6E;
    text-align: left;
    margin-left: -63px;
}

.a-tarm {
    color: white;
    margin-left: -62px;
    font-size: 13px;
}

.a-pri {
    color: white;
    /*  margin-left: -32px;*/
    font-size: 13px;
}



.mb-4 {
    margin-bottom: 0.5rem !important;
}

@media (max-width:480px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

    }

    .form-style {
        padding-left: 7px;
    }

    .term-checkbox {
        position: absolute;
        left: 6px;
        margin-left: 18px;
        font-size: 13px;
    }

    .lab-terms {
        margin-left: 20px;
        font-size: 13px;
    }

    .card-front, .card-back {
        width: 105%;
        height: 75vh;
    }

    .a-tarm {
        margin-left: -3px;
    }

    .form-style {
        font-size: 12px;
    }

    #btn-submit-su {
        font-size: 13px;
    }
    .pb-5 {
        padding-bottom: 1rem !important;
    }
}
.invalid-feedback {
    text-align: left;
    font-size: 70%;
}
.h-gender {
    padding: 13px 20px;
    padding-left: 18px;
    font-weight: 500;
    border-radius: 4px;
    font-size: 13px;
    line-height: 22px;
    color: #c4c3ca;
}
.form-check {
    margin-top: 12px;
}
.h-sign {
    color:royalblue;
}
.lab-sign {
    border: 10px solid;
    width: 50%;
    border-color: red;
    margin-left: 263px;
}
.beg-contant {
    margin-top: 70px;
}