{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}


{% block content %}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Reject Form</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                           
                        </div>
                        <div class="card-body">
                        
                            <div class="table-responsive">
                                {% if qs == "teacher" %}
                                <h3>Teachers</h3>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Teacher</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                   <tbody>
                                      
                                    <tr>
                                        <td>{{query.teacher.username|truncatewords:20}}</td>
                                        <td>{{query.teacher.email}}</td>
                                 
                                    </tr>
          
                                    

                                   

                                   </tbody>
                                </table>
                                {% elif qs == 'blogs' %}
                                <h3>Blogs</h3>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Blog</th>
                                            <th>User</th>
                                            <th>email</th>
                                    </tr>
                                    </thead>
                                   <tbody>
                                     
                                    <tr>
                                        <td>{{query.name|truncatewords:20}}</td>
                                        <td>{{query.user.username}}</td>
                                        <td>{{query.user.email}}</td>
                      
                                     
                                    </tr>
                                   

                                   </tbody>
                                </table>
                                {% elif qs == "blog_payment" %}
                                <h3>Blog Payments</h3>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                      
                                        <tr>
                                        <th>User</th>
                                        <th>Email</th>
                                        <th>Method</th>
                                        <th>Transaction Number</th>
                                        <th>Expired At</th>
                                  
                   

                                        </tr>
                                        
                                    </thead>
                                
                                   <tbody>
                                     
                                    <tr>
                                        <td>{{i.user.username}}</td>
                                        <td>{{i.user.email}}</td>
                                        <td>{{i.method}}</td>
                                        <td>{{i.transaction_number}}</td>
                                               
                                     
                                    </tr>


                                   </tbody>
                                </table>
                                {% elif qs == "consultant_payment" %}
                                <h3>Consultant Payments</h3>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                      
                                        <tr>
                                            <th>User</th>
                                            <th>Teacher</th>
                                            <th>Transaction Number</th>
                                            <th>Is Active</th>
                                        </tr>
                                        
                                    </thead>
                                
                                   <tbody>
                                     
                                    <tr>
                                        <td>{{i.user.username}}</td>
                                        <td>{{i.consult.teacher.user.username}}</td>
                                        <td>{{i.transaction_number}}</td>
                                     
                                    </tr>


                                   </tbody>
                                </table>
                                {% elif qs == "course" %}
                                <h3>Course</h3>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                      
                                        <tr>
                                            <th>Name</th>
                                            <th>email</th>
                                            <th>Teacher</th>

                                        </tr>
                                        
                                    </thead>
                                
                                   <tbody>
                                     
                                    <tr>
                                        <td>{{i.name|truncatewords:10}}</td>
                                          <td>{{i.email}}</td>
                                        <td>{{i.Instructor.username}}</td>
                                     
                                    </tr>
                                   </tbody>
                                </table>
                                {% elif qs == "events" %}
                                <h3>Events</h3>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                      
                                        <tr>
                                            <th>Name</th>
                                            <th>User</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        

                                        </tr>
                                        
                                    </thead>
                                
                                   <tbody>
                                     
                                    <tr>
                                        <td>{{i.name|truncatewords:10}}</td>
                                        <td>{{i.user.username}}</td>
                                        <td>{{i.date}}</td> 
                                    </tr>
                                

                                   </tbody>
                                </table>
                                {% elif qs == "payment" %}
                                <h3>Course Payments</h3>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                      
                                        <tr>
                                            <th>User</th>
                                            <th>Method</th>
                                            <th>Transaction Number</th>
                                            <th>Action</th>
                                        </tr>
                                        
                                    </thead>
                                
                                   <tbody>
                                     
                                    <tr>
                                        <td>{{i.user.username}}</td>
                                        <td>{{i.method}}</td>
                                        <td>{{i.transaction_number}}</td>
                                   
                                     
                                     
                                    </tr>
                        

                                   </tbody>
                                </table>
                                {% endif %}

                                <form method="POST" enctype="multipart/form-data" >
                                    {% csrf_token %}
                                   
                                    <div class="form-group">
                                        {{form.media}}
                                        {{form|crispy}}
                                    </div>
                                    
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </form>

                                {% if query.has_other_pages %}
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% if query.has_previous  %}
                                      <li class="page-item"><a class="page-link" href="?page={{ query.previous_page_number }}">Previous</a></li>
                                      {% endif %}
                                      {% for i in  query.paginator.page_range %}
                                      {% if query.number == i %}
                                      <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% else %}
                                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% endif %}
                                      {% endfor %}
                                      {% if query.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ query.next_page_number }}">Next</a></li>
                                      {% endif %}
                                    </ul>
                                  </nav>
                                  {% endif %}
                            </div>
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

{% endblock %}