{% extends 'dashboard_base.html' %}

{% load hosts %}


{% block content %}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Consultants</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            {% comment %} <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6> {% endcomment %}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>                                       
                                            <th>User</th>
                                            <th>Teacher</th>
                                            <th>Category</th>
                                            <th>Date</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                         
                                   <tbody>
                                       {% for i in consultants %}
                                    <tr>
                                        <td>{{i.user.username.title}}</td>
                                        <td>{{i.teacher.user.username.title}}</td>
                                        <td>{{i.teacher.category.name.title}}</td>
                                        <td>{{i.date}}</td>
                                        <td>{{i.start_time}}</td>
                                        <td>{{i.end_time}}</td>
                                        <td>{{i.status}}</td>
                                        <td>
                                            {% if i.status == "pending" %}
                                    <a class="btn btn-primary" href="{% url 'dashboard:accept_consultant' i.id %}" class="btn btn-success">Accept</button>
                                        <a  data-toggle="modal" data-target="#reject-{{i.id}}"  class="btn btn-danger">Reject</button>
                                            <a  data-toggle="modal" data-target="#details-{{i.id}}"  class="btn btn-info">Details</button>

                                            {% elif i.status == "approved" %}
                                        <button  data-toggle="modal" data-target="#start-{{i.id}}"  class="btn btn-success">Start</button>
                                        <a class="btn btn-primary" href="{% url 'dashboard:edit_consultant' i.id %}" class="btn btn-info">Edit</button>

                                        {% elif i.status == "started" %}
                                        <button  data-toggle="modal" data-target="#end-{{i.id}}"  class="btn btn-danger">End</button>
                                            {% endif %}
                                        </td>


                                    </tr>
                                    <div class="modal fade" id="end-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">End Consultant</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you Sure ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                
                                                <a  href="{% url 'dashboard:complete_consultant' i.id %}" class="btn btn-danger">End</a>                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="modal fade" id="start-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Start Consultant</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you Sure ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                
                                                <a  href="{% url 'dashboard:start_consultant' i.id %}" class="btn btn-success">Start</a>                                            </div>
                                            </div>
                                        </div>
                                        </div>

                                        <div class="modal fade" id="reject-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Reject Consultant</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you Sure ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    
                                                    <a href="{% url 'dashboard:reject_consultant' i.id %}" class="btn btn-success">Reject</a>                                            </div>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="modal fade" id="details-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable" id="start-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Consultant Details</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="card" style="width: 18rem;">
                                                                <div class="card-body">
                                                                  <h5 class="card-title">Fullname: <br>{{i.get_user_data.full_name}}</h5>
                                                                  <h5 class="card-title">Specialization:<br> {{i.get_user_data.specialization}}</h5>
                                                                  <h5 class="card-title">Topic:<br> {{i.get_user_data.topic}}</h5>
                                                                  <h5 class="card-title">Email:<br> {{i.get_user_data.email}}</h5>
                                                                  <h5 class="card-titlet">Phone: <br>{{i.get_user_data.phone}}</h5>

                                                                  

                                                                </div>
                                                              </div>
                                                    

                                                              
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                    {% endfor %}
                                   </tbody>
                                </table>
                                {% if consultants.has_other_pages %}
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% if consultants.has_previous  %}
                                      <li class="page-item"><a class="page-link" href="?page={{ consultants.previous_page_number }}">Previous</a></li>
                                      {% endif %}
                                      {% for i in  consultants.paginator.page_range %}
                                      {% if consultants.number == i %}
                                      <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% else %}
                                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% endif %}
                                      {% endfor %}
                                      {% if consultants.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ consultants.next_page_number }}">Next</a></li>
                                      {% endif %}
                                    </ul>
                                  </nav>
                                  {% endif %}
                            </div>
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% endblock %}