{% extends 'dashboard_base.html' %}
{% load hosts %}


{% block content %}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Emails</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            {% comment %} <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6> {% endcomment %}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>User</th>
                                            <th>Status</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                
                                   <tbody>
                                       {% for i in emails %}
                                    <tr>
                                        <td>{{i.name|truncatewords:10}}</td>
                                        <td>{{i.email|truncatewords:10}}</td>
                                        <td>{{i.user}}</td>
                                        <td>{{i.status}}</td>                                                                           
                                        <td>
                                         {% if i.status != "solved" %}
                                          <a href="{% url 'dashboard:single_email' i.id %}?email=True" class="btn btn-success">Check</a>
                                          <button class="btn btn-danger" data-toggle="modal" data-target="#close-{{i.id}}">End</button>

                                            {% endif %}
                                      </td>

                                    </tr>

            <div class="modal fade" id="close-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Close Email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        are you sure you want to close this email ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="{% url 'dashboard:close_email' i.id %}" type="button" class="btn btn-success">Submit</a>
                    </div>
                    </div>
                </div>
                </div>

                                    {% endfor %}

                                   </tbody>
                                </table>
                                {% if emails.has_other_pages %}
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% if emails.has_previous  %}
                                      <li class="page-item"><a class="page-link" href="?page={{ emails.previous_page_number }}">Previous</a></li>
                                      {% endif %}
                                      {% for i in  emails.paginator.page_range %}
                                      {% if emails.number == i %}
                                      <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% else %}
                                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% endif %}
                                      {% endfor %}
                                      {% if emails.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ emails.next_page_number }}">Next</a></li>
                                      {% endif %}
                                    </ul>
                                  </nav>
                                  {% endif %}
                            </div>
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% endblock %}