{% extends 'blog_base.html' %}
{% load static %}
{% block content %}
<link rel='stylesheet' href='{% static "blog_audio/static.css" %}'>

<style type="text/css">
 /* Style the button that is used to open and close the collapsible content */
 .collapsible {

	cursor: pointer;

  }
  iframe{
	width:100% !important;
		 }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
  } 

</style>

		<!-- BEGIN CONTENT -->
		<main class="site-content">
			<div class="container">

<div class="grid-container">
	<div class="grid-70">
		{% if blog.blog_type == "standard" %}
		<article class="post margin-bottom">
			<header class="entry-header">
				<figure class="entry-thumb">
					<img src="{{blog.image.first.image}}" width="1200" height="400" alt="">
				</figure>
				<div class="icon-b">
					<i class="fa fa-newspaper-o"></i>
				</div>
				<div class="entry-category"><a href="">{{blog.category.name.title}}</a></div>
				<div class="entry-header-title">
					<h1>{{blog.name.title}}</h1>
					<div class="entry-meta">
						<span class="entry-meta-date">
							<i class="fa fa-calendar"></i>
							{{blog.created_at|date:"M d, Y"}}
						</span>
						<span class="entry-meta-comments">
							<i class="fa fa-comments"></i>
							{{blog.get_comments}} comments
						</span>
						<span class="entry-meta-comments">
							<i class="fa fa-eye" aria-hidden="true"> {{blog.get_views}}</i>
						</span>
					</div>
				</div>
			</header>
			<div class="entry-content">
				{{blog.details|safe}}
			</div>
			<footer class="entry-footer">
				<h3>Tags</h3>
				<div class="tags">
					{% for b in blog.tags.all %}
					<a href="">{{b.name}}</a>
					{% endfor %}
				</div>
				<h3>Share</h3>
				<div class="social-likes social-likes_notext">
					<div class="facebook" title="Share link on Facebook"></div>
					<div class="twitter" title="Share link on Twitter"></div>
					<div class="plusone" title="Share link on Google+"></div>
				</div>
			</footer>
		</article>
		{% elif blog.blog_type == "video" %}
		<article class="post format-video margin-bottom">
			        
			<div class="corses-singel-image pt-50">
                            
				<iframe src="{{blog.video}}" loading="lazy" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" style="height:500px;" allowfullscreen="true"></iframe>                          

			</div> 
			
			<header class="entry-header">
				<div class="icon-b">
					<i class="fa fa-film"></i>
				</div>
				<div class="entry-category"><a href="">{{blog.category.name.title}}</a></div>
				<div class="entry-header-title">
					<h1>{{blog.name.title}}</h1>
					<div class="entry-meta">
						<span class="entry-meta-date">
							<i class="fa fa-calendar"></i>
						{{blog.created_at|date:"M d, Y"}}
						</span>
						<span class="entry-meta-comments">
							<i class="fa fa-comments"></i>
							{{blog.get_comments}}  comments
						</span>
						<span class="entry-meta-comments">
							<i class="fa fa-eye" aria-hidden="true"> {{blog.get_views}}</i>
						</span>
					</div>
				</div>
			</header>
			<div class="entry-content">
				{{blog.details|safe}}
			</div>
			<footer class="entry-footer">
				<h3>Tags</h3>
				<div class="tags">
					{% for b in blog.tags.all %}
					<a href="">{{b.name}}</a>
					{% endfor %}
				</div>
				<h3>Share</h3>
				<div class="social-likes social-likes_notext">
					<div class="facebook" title="Share link on Facebook"></div>
					<div class="twitter" title="Share link on Twitter"></div>
					<div class="plusone" title="Share link on Google+"></div>
				</div>
			</footer>
		</article>
		{% elif blog.blog_type == "audio" %}
		<article class="post format-audio margin-bottom">
			<div class="audio">
				<div class="player">
					<ul>
					   <li class="cover"><img src="http://i1285.photobucket.com/albums/a583/TheGreatOzz1/Hosted-Images/Noisy-Freeks-Image_zps4kilrxml.png"/></li>
					   <li class="info">
						  <h1>The Noisy Freaks</h1>
						  <h4>Premiere</h4>
						  <h2>I Need You Back</h2>
				 
						  <div class="button-items">
							 <audio id="music" preload="auto" loop="false">
								<source src="https://dl.dropbox.com/s/oswkgcw749xc8xs/The-Noisy-Freaks.mp3?dl=1" type="audio/mp3">
								   <source src="https://dl.dropbox.com/s/75jpngrgnavyu7f/The-Noisy-Freaks.ogg?dl=1" type="audio/ogg">
							 </audio>
							 <div id="slider"><div id="elapsed"></div></div>
							 <p id="timer">0:00</p>
							 <div class="controls">
								<span class="expend"><svg class="step-backward" viewBox="0 0 25 25" xml:space="preserve">
								   <g><polygon points="4.9,4.3 9,4.3 9,11.6 21.4,4.3 21.4,20.7 9,13.4 9,20.7 4.9,20.7"/></g>
								</svg></span>
				 
								<svg id="play" viewBox="0 0 25 25" xml:space="preserve">
									<defs><rect x="-49.5" y="-132.9" width="446.4" height="366.4"/></defs>
								   <g><circle fill="none" cx="12.5" cy="12.5" r="10.8"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M8.7,6.9V18c0,0,0.2,1.4,1.8,0l8.1-4.8c0,0,1.2-1.1-1-2L9.8,6.5 C9.8,6.5,9.1,6,8.7,6.9z"/>
								   </g>
								</svg>
							   
				 
								<svg id="pause" viewBox="0 0 25 25" xml:space="preserve">
								   <g>
									  <rect x="6" y="4.6" width="3.8" height="15.7"/>
									  <rect x="14" y="4.6" width="3.9" height="15.7"/>
								   </g>
								</svg>
				 
								<span class="expend"><svg class="step-foreward" viewBox="0 0 25 25" xml:space="preserve">
								   <g><polygon points="20.7,4.3 16.6,4.3 16.6,11.6 4.3,4.3 4.3,20.7 16.7,13.4 16.6,20.7 20.7,20.7"/></g>
								 </svg></span>
							 </div>
						  </div>
					   </li>
					</ul>
				 </div>
				 
				 <p class="social"><a target="_blank" href="https://twitter.com/kirkbyo_" class="twitter">Twitter</a> | <a target="_blank" href="https://github.com/kirkbyo" class="github">Github</a></p>
		
			  
			<header class="entry-header">
				<div class="icon-b">
					<i class="fa fa-music"></i>
				</div>
				<div class="entry-category"><a href="">{{blog.category.name.title}}</a></div>
				<div class="entry-header-title">
					<h1>{{blog.name.title}}</h1>
					<div class="entry-meta">
						<span class="entry-meta-date">
							<i class="fa fa-calendar"></i>
						{{blog.created_at|date:"M d, Y"}}
						</span>
						<span class="entry-meta-comments">
							<i class="fa fa-comments"></i>
							{{blog.get_comments}} comments
						</span>
						<span class="entry-meta-comments">
							<i class="fa fa-eye" aria-hidden="true"> {{blog.get_views}}</i>
						</span>
					</div>
				</div>
			</header>
			<div class="entry-content">
				{{blog.details|safe}}
			</div>
			<footer class="entry-footer">
				<h3>Tags</h3>
				<div class="tags">
					{% for b in blog.tags.all %}
					<a href="">{{b.name}}</a>
					{% endfor %}
				</div>
				<h3>Share</h3>
				<div class="social-likes social-likes_notext">
					<div class="facebook" title="Share link on Facebook"></div>
					<div class="twitter" title="Share link on Twitter"></div>
					<div class="plusone" title="Share link on Google+"></div>
				</div>
			</footer>
		</article>
		{% elif blog.blog_type == "quote" %}
		<article class="post format-link margin-bottom">
			<header class="entry-header">
				<blockquote>
					<p>{{blog.get_quote}}</p>
					<!-- <cite>- John Doe</cite> -->
				</blockquote>
				<div class="icon-b">
					<i class="fa fa-quote-left"></i>
				</div>
				<div class="entry-header-title">
					<h1>{{blog.name.title}}</h1>
					<div class="entry-meta">
						<span class="entry-meta-date">
							<i class="fa fa-calendar"></i>
						{{blog.created_at|date:"M d, Y"}}
						</span>
						<span class="entry-meta-comments">
							<i class="fa fa-comments"></i>
							{{blog.get_comments}} comments
						</span>
						<span class="entry-meta-comments">
							<i class="fa fa-eye" aria-hidden="true"> {{blog.get_views}}</i>
						</span>
					</div>
				</div>
			</header>
			<div class="entry-content">
			{{blog.details|safe}}
			</div>
			<footer class="entry-footer">
				<h3>Tags</h3>
				<div class="tags">
					{% for b in blog.tags.all %}
					<a href="">{{b.name}}</a>
					{% endfor %}
				</div>
				<h3>Share</h3>
				<div class="social-likes social-likes_notext">
					<div class="facebook" title="Share link on Facebook"></div>
					<div class="twitter" title="Share link on Twitter"></div>
					<div class="plusone" title="Share link on Google+"></div>
				</div>
			</footer>
		</article>
		{% elif blog.blog_type == "link" %}
		<article class="post format-link margin-bottom">
			<header class="entry-header">
				<div class="icon-b">
					<i class="fa fa-link"></i>
				</div>
				<div class="entry-header-title">
					<h1>{{blog.name.title}}</h1>
					<div class="entry-meta">
						<span class="entry-meta-date">
							<i class="fa fa-calendar"></i>
						{{blog.created_at|date:"M d, Y"}}
						</span>
						<span class="entry-meta-comments">
							<i class="fa fa-comments"></i>
							{{blog.get_comments}} comments
						</span>
						<span class="entry-meta-comments">
							<i class="fa fa-eye" aria-hidden="true"> {{blog.get_views}}</i>
						</span>
					</div>
				</div>
			</header>
			<div class="entry-content">
				<a class="entry-link btn" href="{{blog.get_link}}"><i class="fa fa-external-link"></i> {{blog.get_link}}</a>
				{{blog.details|safe}}
			</div>
			<footer class="entry-footer">
				<h3>Tags</h3>
				<div class="tags">
					{% for b in blog.tags.all %}
					<a href="">{{b.name}}</a>
					{% endfor %}
				</div>
				<h3>Share</h3>
				<div class="social-likes social-likes_notext">
					<div class="facebook" title="Share link on Facebook"></div>
					<div class="twitter" title="Share link on Twitter"></div>
					<div class="plusone" title="Share link on Google+"></div>
				</div>
			</footer>
		</article>
		{% elif blog.blog_type == "gallery" %}
		<article class="post format-gallery margin-bottom">
			<header class="entry-header">
				<figure class="entry-thumb">
					<img src="{{blog.image.first.image}}" width="1200" height="500" alt="">
				</figure>
				<div class="icon-b">
					<i class="fa fa-image"></i>
				</div>
				<div class="entry-category"><a href="">{{blog.category.name.title}}</a></div>
				<div class="entry-header-title">
					<h1>{{blog.name.title}}</h1>
					<div class="entry-meta">
						<span class="entry-meta-date">
							<i class="fa fa-calendar"></i>
						{{blog.created_at|date:"M d, Y"}}

						</span>
						<span class="entry-meta-comments">
							<i class="fa fa-comments"></i>
							{{blog.get_comments}} comments
						</span>
						<span class="entry-meta-comments">
							<i class="fa fa-eye" aria-hidden="true"> {{blog.get_views}}</i>
						</span>
					</div>
				</div>
			</header>
			<div class="entry-content">
				<div class="gallery margin-bottom">
					{% for i in blog.image.all %}
					<a href="{{i.image}}">
						<img src="{{i.image}}" width="300" height="300" alt="">
					</a>
					{% endfor %}
				</div>
				{{blog.details|safe}}
			</div>
			<footer class="entry-footer">
				<h3>Tags</h3>
				<div class="tags">
					{% for b in blog.tags.all %}
					<a href="">{{b.name}}</a>
					{% endfor %}
				</div>
			
			</footer>
		</article>
		{% endif %}


<hr>





	</div>
	<div class="grid-30">
<aside class="site-aside">

	<div class="widget widget-about">
		<div class="widget-about-photo">
			<img src="{{blog.user.image}}" width="80" height="80" alt="">
		</div>
		<p>{{blog.user.get_user_data.about_me}}</p>
		<!-- <img src="images/signature.png" width="100" height="25" alt=""> -->
	</div>





</aside>

	</div>
</div>


			</div>
		</main>
		<!-- END CONTENT -->
		<script src="{% static 'blog_audio/script.js' %}"></script>
		<script style="text/javascript">
	var coll = document.getElementsByClassName("collapsible");
	var i;
	
	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		if (content.style.display === "block") {
		  content.style.display = "none";
		} else {
		  content.style.display = "block";
		}
	  });
	} 

</script>
{% endblock %}
