{% extends 'dashboard_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Email Details</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                        </div>
                        <div class="card-body">
                            {% if get_email %}
                            <form method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                
                                <div class="form-group">
                                    
                                    {{form|crispy }}
                                </div>
                                
                                <button onclick="this.disabled=true,this.form.submit();" class="btn btn-success" type="submit">send</button>
                            </form>
                            {% else %}

                            <form>
                                <div class="form-group">
                                  <label for="exampleFormControlInput1">From Email</label>
                                  <input type="email" class="form-control" id="exampleFormControlInput1" value="{{email.email}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Name</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" value="{{email.name}}" disabled>
                                  </div>
                                <div class="form-group">
                                  <label for="exampleFormControlSelect1">Subject</label>
                                  <input type="text" class="form-control"  value="{{email.subject}}" disabled>

                                </div>
                                <div class="form-group">
                                  <label for="exampleFormControlTextarea1">Message</label>
                                  <textarea class="form-control" id="exampleFormControlTextarea1"   value="{{email.message}}" disabled>{{email.message}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Phone</label>
                                    <input type="text" class="form-control"  value="{{email.phone}}" disabled>
  
                                  </div>
                                <a href="{% url 'dashboard:single_email' email.id %}?email={{email.id}}" class="btn btn-success">respond</a>
                              </form>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% endblock %}