{% extends 'dashboard_base.html' %}
{% load hosts %}



{% block content %}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Movies</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <!-- <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6> -->
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Movie</th>
                                            <th>Length</th>
                                            <th>status</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                   
                                   <tbody>
                                       {% for i in movies %}
                    <tr>
                                        <td>{{i.name|truncatewords:10}}</td>
                                        <td>{{i.duration|truncatewords:10}}</td>
                                          <td>{{i.status}}</td>
                                          <td>
                                            
                                            <a class="btn btn-success" href="{% url 'dashboard:edit_movie' i.slug %}">edit</a>

                                              <a class="btn btn-danger" href="{% url 'dashboard:delete_movie' i.slug %}">remove</a>
                                              {% if i.check_duration == False %}
                                              <a class="btn btn-info" href="{% url 'dashboard:check_movie' i.slug %}">check</a>
                                              {% endif %}
                                              {% if i.check_demo_movies == False and i.duration %}
                                              <a class="btn btn-info" href="{% url 'dashboard:upload_demo_movie' i.slug %}">uplaod demo</a>
                                              {% elif i.check_demo_movies and i.get_demo_movie.demo_duration <= 0 %}
                                              <a class="btn btn-info" href="{% url 'dashboard:check_demo_movie' i.slug %}">check demo</a>
                                                {% endif %}
                                            </td>

                                    </tr>

                                    

                                    {% endfor %}

                                   </tbody>
                                </table>
                                {% if movies.has_other_pages %}
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% if movies.has_previous  %}
                                      <li class="page-item"><a class="page-link" href="?page={{ movies.previous_page_number }}">Previous</a></li>
                                      {% endif %}
                                      {% for i in  movies.paginator.page_range %}
                                      {% if movies.number == i %}
                                      <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% else %}
                                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% endif %}
                                      {% endfor %}
                                      {% if movies.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ movies.next_page_number }}">Next</a></li>
                                      {% endif %}
                                    </ul>
                                  </nav>
                                  {% endif %}
                            </div>
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% endblock %}