{% extends 'dashboard_base.html' %}



{% block content %}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Videos</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>                                       
                                            <th>User</th>
                                            <th>Course</th>
                                            <th>Video</th>
                                            <th>Duration</th>
                                            <th>Status</th>
                                            <th>Action</th>


                                        </tr>
                                    </thead>
                         
                                   <tbody>
                                       {% for i in videos %}
                                    <tr>
                                        <td>{{i.user.username}}</td>
                                        <td>{{i.my_course.name|truncatewords:10}}</td>
                                        <td>{{i.name|truncatewords:10}}</td>
                                        <td>{{i.get_duration_model}}</td>
                                        <td>{{i.my_course.status}}</td>
                                        <td>
                                          {% if i.video_url == "" %}
                                        <a  class="btn btn-info" href="{% url 'dashboard:check_video' i.slug %}">Check</a>
                                            {% endif %}
                                    <a data-toggle="modal" data-target="#video-{{i.id}}" class="btn btn-danger" href="#">Delete</a>
                                                  {% if i.my_course.status == "declined" %}
                                          <a href="{% url 'dashboard:edit_videos' i.slug %}" class="btn btn-success" >Edit</a>

                                                  {% endif %}
        
                                </td>


                                    </tr>
                                    <!-- Modal -->
<div class="modal fade" id="video-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Video</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you Sure ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{% url 'dashboard:delete_videos' i.slug  %}" type="button" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
                                    {% endfor %}
                                   </tbody>
                                </table>
                                {% if videos.has_other_pages %}
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% if videos.has_previous  %}
                                      <li class="page-item"><a class="page-link" href="?page={{ videos.previous_page_number }}">Previous</a></li>
                                      {% endif %}
                                      {% for i in  videos.paginator.page_range %}
                                      {% if videos.number == i %}
                                      <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% else %}
                                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% endif %}
                                      {% endfor %}
                                      {% if videos.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ videos.next_page_number }}">Next</a></li>
                                      {% endif %}
                                    </ul>
                                  </nav>
                                  {% endif %}
                            </div>
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% endblock %}