{% extends 'dashboard_base.html' %}

{% load hosts %}


{% block content %}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">News</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Link</th>  
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                
                                   <tbody>
                                       {% for i in news %}
                                    <tr>
                                        <td>{{i.name|truncatewords:10}}</td>
                                        <td><a href="{{i.link}}">{{i.link}}</a></td>                     
                                        <td>
                                          
                                    <a href="{% url 'dashboard:edit_news' i.id %}" class="btn btn-success">Edit</a>
                                         
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#news-{{i.id}}">Delete</button>
                                    
                                       
                                      </td>

                                    </tr>

                                    
<!-- Modal -->
<div class="modal fade" id="news-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete News</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you Sure ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{% url 'dashboard:delete_news' i.id %}" type="button" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

                                    {% endfor %}

                                   </tbody>
                                </table>
                                {% if news.has_other_pages %}
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% if news.has_previous  %}
                                      <li class="page-item"><a class="page-link" href="?page={{ news.previous_page_number }}">Previous</a></li>
                                      {% endif %}
                                      {% for i in  news.paginator.page_range %}
                                      {% if news.number == i %}
                                      <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% else %}
                                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>

                                      {% endif %}
                                      {% endfor %}
                                      {% if news.has_next %}
                                      <li class="page-item"><a class="page-link" href="?page={{ news.next_page_number }}">Next</a></li>
                                      {% endif %}
                                    </ul>
                                  </nav>
                                  {% endif %}
                            </div>
                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% endblock %}